.admin-login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 25vh;
    width: 100%;
    height: 100vh;

    h1 {
        font-weight: 300;
        font-size: 2rem;
        font-family: "Cinzel", serif;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        h3 {
            font-weight: 300;
            font-size: 1.3rem;
            font-family: 'Poppins', sans-serif;
        }

        input {
            padding: 8px 14px;
            font-size: 1.1rem;
            font-weight: 300;
            border: 1px solid #525252;
            border-radius: 8px;
        }

        button {
            border-radius: 8px;
            padding: 7px 20px;
            font-size: 1.1rem;
            cursor: pointer;
            font-family: 'Fira Sans', sans-serif;
            font-weight: 300;
            color: #ffffff;
            background-color: #589b49;
            transition: all 0.1s ease-in-out;

            &:hover {
                background-color: #5eb64a;
            }
        }

        .warning-text,
        .success-text {
            margin-bottom: 14px;
            min-width: 100%;
            width: min-content;
            text-align: center;
        }

        .warning-text {
            font-weight: 300;
            color: #d12e2e;
        }

        .success-text {
            color: #34c532;
        }
    }
}

.panel-page {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    min-height: 100vh;
    position: relative;

    .panel-nav-container.active {
        display: flex;
    }

    .panel-nav-container {
        flex-shrink: 0;

        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;

        @keyframes nav-slide-in {
            from {
                left: -100%;
            }
        }

        .panel-nav {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            -webkit-box-shadow: 5px 0px 16px -9px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 5px 0px 16px -9px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 0px 16px -9px rgba(0, 0, 0, 0.2);
            background-color: #ffffff;
            z-index: 2;
            animation: nav-slide-in 0.1s ease-in-out forwards;

            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-right: 1px solid #cbcbcb;

            .nav-logo {
                font-size: 1.2rem;
                font-weight: 500;
                font-family: 'Poppins', sans-serif;
                padding: 20px 16px;
            }

            >ul {
                li.active a {
                    background-color: #5712a1;
                    color: #ffffff;
                    pointer-events: none;
                }

                li {
                    margin-bottom: 6px;

                    a {
                        width: 100%;
                        padding: 10px 24px 10px 14px;
                        border-radius: 18px;
                        cursor: pointer;
                        color: #525252;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.05);
                        }
                    }
                }
            }
        }
    }


    .panel {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        header {
            padding: 10px 20px;
            border-bottom: 1px solid #cbcbcb;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .drawer-button {
                display: flex;
                font-size: 2.4rem;
            }

            h2.tab-name {
                display: none;
                font-size: 1.2rem;
                font-weight: 500;
            }

            .admin-container {
                position: relative;

                .user-menu-button {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    border-radius: 10px;
                    border: 1px solid #cbcbcb;
                    padding: 8px 14px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }

                .user-menu.active {
                    display: flex;
                }

                .user-menu {
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    top: 40px;
                    right: 0;
                    border-radius: 8px 0 8px 8px;
                    background-color: var(--primary-bg-color);
                    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
                    z-index: 197;
                    animation: fade-in 0.1s ease-in-out forwards;
                    overflow: hidden;
                    white-space: nowrap;

                    .user-menu-list {
                        li {
                            border-bottom: 1px solid var(--primary-light-border);

                            a {
                                padding: 10px;
                                text-align: center;

                                &:hover {
                                    background-color: rgba(0, 0, 0, 0.03);
                                }
                            }
                        }
                    }

                    .sign-out-button {
                        margin: 20px 20px 14px;
                        align-self: center;
                        padding: 4px 14px;
                        font-size: 0.8rem;
                        font-weight: 300;
                        border-radius: 18px;
                        color: #ffffff;
                        background-color: var(--button3-1);
                        transition: background-color 0.1s ease-in-out;
                        font-family: 'Poppins', sans-serif;

                        &:hover {
                            background-color: var(--button3-2);
                        }
                    }
                }
            }
        }

        main {
            background-color: #f8f8f8;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding: 16px;

            h2.tab-name {
                font-size: 1.2rem;
                font-weight: 500;
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }
}


.approval-listing {
    margin-top: 20px;
    display: grid;
    gap: 24px 3%;
    grid-template-columns: repeat(1, 1fr);

    .post {
        display: flex;
        flex-direction: column;

        .images {
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.05);
            flex-grow: 1;
            margin-bottom: 10px;

            .image-carousel {
                img.carousel-image.active {
                    display: block;
                }

                img.carousel-image {
                    display: none;
                    aspect-ratio: 1/0.8;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center; // browser default
                }
            }
        }

        .title {
            font-size: 1.1rem;
            font-weight: 400;
            margin-bottom: 16px;

            &:hover {
                text-decoration: underline;
            }
        }

        .actions {
            display: flex;
            justify-content: space-around;

            button {
                border-radius: 4px;
                padding: 5px 10px;
                border: none;
                font-size: 1rem;
                cursor: pointer;
                font-family: 'Fira Sans', sans-serif;
                font-weight: 300;
                color: #ffffff;
                transition: all 0.1s ease-in-out;
            }

            button.accept-button {
                background-color: var(--button2-1);

                &:hover {
                    background-color: var(--button2-2);
                }
            }

            button.reject-menu-button {
                display: flex;
                align-items: center;
                gap: 6px;
                background-color: var(--button3-2);

                &:hover {
                    background-color: var(--button3-1);
                }
            }
        }
    }
}




// Most phones
@media (min-width: 340px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .panel-page {
        .panel-nav-container {
            display: flex;
            position: unset;
            background-color: unset;
            width: unset;
            height: unset;

            .panel-nav {
                position: unset;
                box-shadow: unset;
            }
        }

        .panel {
            header {
                h2.tab-name {
                    display: block;
                }

                .drawer-button {
                    display: none;
                }
            }

            main {
                h2.tab-name {
                    display: none;
                }
            }
        }
    }

    .approval-listing {
        padding: 0 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .approval-listing {
        padding: 0 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}