.admin-login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 25vh;
  width: 100%;
  height: 100vh;
}
.admin-login-page h1 {
  font-weight: 300;
  font-size: 2rem;
  font-family: "Cinzel", serif;
}
.admin-login-page .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.admin-login-page .login-form h3 {
  font-weight: 300;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
}
.admin-login-page .login-form input {
  padding: 8px 14px;
  font-size: 1.1rem;
  font-weight: 300;
  border: 1px solid #525252;
  border-radius: 8px;
}
.admin-login-page .login-form button {
  border-radius: 8px;
  padding: 7px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #589b49;
  transition: all 0.1s ease-in-out;
}
.admin-login-page .login-form button:hover {
  background-color: #5eb64a;
}
.admin-login-page .login-form .warning-text,
.admin-login-page .login-form .success-text {
  margin-bottom: 14px;
  min-width: 100%;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
}
.admin-login-page .login-form .warning-text {
  font-weight: 300;
  color: #d12e2e;
}
.admin-login-page .login-form .success-text {
  color: #34c532;
}

.panel-page {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  min-height: 100vh;
  position: relative;
}
.panel-page .panel-nav-container.active {
  display: flex;
}
.panel-page .panel-nav-container {
  flex-shrink: 0;
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
@keyframes nav-slide-in {
  from {
    left: -100%;
  }
}
.panel-page .panel-nav-container .panel-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 5px 0px 16px -9px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  z-index: 2;
  animation: nav-slide-in 0.1s ease-in-out forwards;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #cbcbcb;
}
.panel-page .panel-nav-container .panel-nav .nav-logo {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 20px 16px;
}
.panel-page .panel-nav-container .panel-nav > ul li.active a {
  background-color: #5712a1;
  color: #ffffff;
  pointer-events: none;
}
.panel-page .panel-nav-container .panel-nav > ul li {
  margin-bottom: 6px;
}
.panel-page .panel-nav-container .panel-nav > ul li a {
  width: 100%;
  padding: 10px 24px 10px 14px;
  border-radius: 18px;
  cursor: pointer;
  color: #525252;
}
.panel-page .panel-nav-container .panel-nav > ul li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.panel-page .panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.panel-page .panel header {
  padding: 10px 20px;
  border-bottom: 1px solid #cbcbcb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-page .panel header .drawer-button {
  display: flex;
  font-size: 2.4rem;
}
.panel-page .panel header h2.tab-name {
  display: none;
  font-size: 1.2rem;
  font-weight: 500;
}
.panel-page .panel header .admin-container {
  position: relative;
}
.panel-page .panel header .admin-container .user-menu-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid #cbcbcb;
  padding: 8px 14px;
  cursor: pointer;
}
.panel-page .panel header .admin-container .user-menu-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.panel-page .panel header .admin-container .user-menu.active {
  display: flex;
}
.panel-page .panel header .admin-container .user-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  border-radius: 8px 0 8px 8px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
  z-index: 197;
  animation: fade-in 0.1s ease-in-out forwards;
  overflow: hidden;
  white-space: nowrap;
}
.panel-page .panel header .admin-container .user-menu .user-menu-list li {
  border-bottom: 1px solid var(--primary-light-border);
}
.panel-page .panel header .admin-container .user-menu .user-menu-list li a {
  padding: 10px;
  text-align: center;
}
.panel-page .panel header .admin-container .user-menu .user-menu-list li a:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.panel-page .panel header .admin-container .user-menu .sign-out-button {
  margin: 20px 20px 14px;
  align-self: center;
  padding: 4px 14px;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 18px;
  color: #ffffff;
  background-color: var(--button3-1);
  transition: background-color 0.1s ease-in-out;
  font-family: "Poppins", sans-serif;
}
.panel-page .panel header .admin-container .user-menu .sign-out-button:hover {
  background-color: var(--button3-2);
}
.panel-page .panel main {
  background-color: #f8f8f8;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 240px;
}
.panel-page .panel main h2.tab-name {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.approval-listing {
  margin-top: 20px;
  display: grid;
  gap: 24px 3%;
  grid-template-columns: repeat(1, 1fr);
  align-items: flex-start;
}
.approval-listing .post {
  display: flex;
  flex-direction: column;
}
.approval-listing .post .images {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  margin-bottom: 10px;
}
.approval-listing .post .images .image-carousel img.carousel-image.active {
  display: block;
}
.approval-listing .post .images .image-carousel img.carousel-image {
  display: none;
  aspect-ratio: 1/0.8;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  animation: fade-in 0.1s ease-in-out forwards;
}
.approval-listing .post .images .prev-img,
.approval-listing .post .images .next-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  padding: 5px;
  font-size: 1.9rem;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  color: #ffffff;
  z-index: 1;
}
.approval-listing .post .images .prev-img {
  left: 8px;
}
.approval-listing .post .images .next-img {
  right: 8px;
}
.approval-listing .post .images .carousel-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  z-index: 1;
}
.approval-listing .post .images .carousel-nav span.dot {
  border-radius: 50%;
  padding: 4px;
  border: 1px solid #000000;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.approval-listing .post .images .carousel-nav span.dot.active {
  background-color: #ff0000;
  border: 1px solid #ff0000;
}
.approval-listing .post .title {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 16px;
}
.approval-listing .post .title:hover {
  text-decoration: underline;
}
.approval-listing .post .actions {
  display: flex;
  justify-content: space-around;
}
.approval-listing .post .actions > button,
.approval-listing .post .actions .reject-menu-container > button {
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
  transition: all 0.1s ease-in-out;
}
.approval-listing .post .actions > button.accept-button {
  background-color: var(--button2-1);
}
.approval-listing .post .actions > button.accept-button:hover {
  background-color: var(--button2-2);
}
.approval-listing .post .actions .reject-menu-container {
  position: relative;
}
.approval-listing .post .actions .reject-menu-container > button.reject-menu-button {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: var(--button3-2);
}
.approval-listing .post .actions .reject-menu-container > button.reject-menu-button:hover {
  background-color: var(--button3-1);
}
.approval-listing .post .actions .reject-menu-container .reject-menu.active {
  display: flex;
}
.approval-listing .post .actions .reject-menu-container .reject-menu {
  bottom: 0;
  transform: translateY(103%);
  position: absolute;
  left: 0;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  z-index: 2;
  padding: 6px 0 10px;
  display: none;
  flex-direction: column;
  gap: 6px;
}
.approval-listing .post .actions .reject-menu-container .reject-menu ul li {
  padding: 10px 10px;
  white-space: nowrap;
  cursor: pointer;
}
.approval-listing .post .actions .reject-menu-container .reject-menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.approval-listing .post .actions .reject-menu-container .reject-menu select {
  margin: 0 10px;
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}

.p-user-edit-modal-container {
  padding-top: 20vh;
  padding-bottom: 16px;
}
.p-user-edit-modal-container .p-user-edit-modal {
  animation: fade-in 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 24px 30px;
  background-color: #ffffff;
  position: relative;
  border-radius: 10px;
  max-width: 260px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
}
.p-user-edit-modal-container .p-user-edit-modal .user-avatar {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
  outline: 3px solid #a6cfed;
  margin-bottom: 10px;
}
.p-user-edit-modal-container .p-user-edit-modal .user-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-user-edit-modal-container .p-user-edit-modal .name {
  gap: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  white-space: nowrap;
  margin-bottom: 7px;
  font-size: 1.5rem;
  font-weight: 400;
}
.p-user-edit-modal-container .p-user-edit-modal .name > span:nth-child(2) {
  font-weight: 300;
  font-size: 0.9rem;
  padding-bottom: 4px;
}
.p-user-edit-modal-container .p-user-edit-modal .email {
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  margin-bottom: 18px;
}
.p-user-edit-modal-container .p-user-edit-modal .name,
.p-user-edit-modal-container .p-user-edit-modal .email {
  flex-wrap: wrap;
}
.p-user-edit-modal-container .p-user-edit-modal .action-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.p-user-edit-modal-container .p-user-edit-modal .action-container h5 {
  font-weight: 500;
}
.p-user-edit-modal-container .p-user-edit-modal .action-container .lift-ban-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.p-user-edit-modal-container .p-user-edit-modal .action-container .lift-ban-container button {
  display: flex;
  padding: 5px 6px;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 6px;
  background-color: #25a231;
  color: #ffffff;
}
.p-user-edit-modal-container .p-user-edit-modal .action-container .lift-ban-container button:hover {
  background-color: #4dbb58;
}
.p-user-edit-modal-container .p-user-edit-modal .action-container .ban-container {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.p-user-edit-modal-container .p-user-edit-modal .action-container .ban-container input {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  width: 100%;
}
.p-user-edit-modal-container .p-user-edit-modal .action-container .ban-container button {
  margin: 0 auto;
  display: flex;
  padding: 6px 8px;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 6px;
  background-color: #b82f2f;
  color: #ffffff;
}
.p-user-edit-modal-container .p-user-edit-modal .action-container .ban-container button:hover {
  background-color: #bd4949;
}

.user-listing {
  padding: 10px 1%;
  display: flex;
  flex-direction: column;
}
.user-listing .search-user {
  margin-bottom: 30px;
  display: flex;
  gap: 14px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.user-listing .search-user .search-properties {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}
.user-listing .search-user .search-properties input,
.user-listing .search-user .search-properties select {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 1.4rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  transition: all 0.1s ease-in-out;
}
.user-listing .search-user .search-properties input {
  border: 1px solid #cccccc;
}
.user-listing .search-user .search-properties select {
  cursor: pointer;
}
.user-listing .search-user .search-user-button {
  display: flex;
  font-size: 2rem;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.user-listing .search-user .search-user-button:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.user-listing .user-listing-table-wrapper {
  padding-bottom: 14px;
  overflow-x: auto;
}
.user-listing .user-listing-table-wrapper table {
  width: 100%;
}
.user-listing .user-listing-table-wrapper table tr th {
  font-size: 1.2rem;
  font-weight: 400;
}
.user-listing .user-listing-table-wrapper table tr td {
  padding: 8px 4px 8px 12px;
  font-size: 1.3rem;
  font-weight: 300;
}
.user-listing .user-listing-table-wrapper table tr .col-settings {
  padding: 6px 10px;
}
.user-listing .user-listing-table-wrapper table tr .col-settings .user-settings-button {
  margin: 0 auto;
  display: flex;
  padding: 6px;
  font-size: 1.5rem;
  border-radius: 6px;
  background-color: #627fb6;
  color: #ffffff;
}
.user-listing .user-listing-table-wrapper table tr .col-settings .user-settings-button:hover {
  background-color: #3266c5;
}

@media (min-width: 768px) {
  .panel-page .panel-nav-container {
    display: flex;
    position: unset;
    background-color: unset;
    width: unset;
    height: unset;
  }
  .panel-page .panel-nav-container .panel-nav {
    position: unset;
    box-shadow: unset;
  }
  .panel-page .panel header h2.tab-name {
    display: block;
  }
  .panel-page .panel header .drawer-button {
    display: none;
  }
  .panel-page .panel main h2.tab-name {
    display: none;
  }
  .approval-listing {
    padding: 0 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .user-listing .search-user .search-properties {
    flex-grow: 0;
    min-width: 40%;
  }
}
@media (min-width: 1200px) {
  .approval-listing {
    padding: 0 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=adminpanel.css.map */