.filter-modal-container {
    padding-top: 20vh;
    padding-bottom: 16px;

    .filter-modal {
        height: 500px;
        opacity: 1;
        animation: fade-in 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        padding: 30px 16px 20px;
        background-color: var(--primary-bg-color);
        position: relative;
        border-radius: 10px;
        width: 96%;
        max-width: 320px;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);

        .modal-heading {
            padding-right: 30px;
            font-size: 1.5rem;
            font-family: 'Poppins', sans-serif;
        }

        .f-heading {
            font-size: 1rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            margin-top: 20px;
        }

        .f-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 16px;
            margin-top: 16px;

            .sub-category-label {
                display: flex;
                align-items: center;
                gap: 4px;

                input {
                    height: 20px;
                    width: 18px;
                    accent-color: #0bac00;
                }

                span {
                    font-weight: 400;
                    font-size: 0.9rem;
                }
            }
        }

        .filter-action-container {
            margin-top: 30px;

            .filter-submit {
                border-radius: 4px;
                padding: 6px 30px;
                border: 1px solid var(--button-white-border);
                background-color: var(--button-white);
                font-size: 1.1rem;
                cursor: pointer;
                font-family: 'Fira Sans', sans-serif;
                font-weight: 300;
                transition: all 0.1s ease-in-out;

                &:hover {
                    color: #ffffff;
                    border: 1px solid var(--button2-2);
                    background-color: var(--button2-2);
                }
            }
        }
    }
}

.category-page {
    display: flex;
    flex-direction: column;
    padding: var(--site-padding);

    .listing-options {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 6px;

        .filter-button {
            border-radius: 6px;
            padding: 6px 20px;
            border: 1px solid var(--button-white-border);
            background-color: var(--button-white);
            font-size: 1.1rem;
            cursor: pointer;
            font-family: 'Fira Sans', sans-serif;
            font-weight: 300;
            transition: all 0.1s ease-in-out;

            &:hover {
                color: #ffffff;
                border: 1px solid #636363;
                background-color: #636363;
            }
        }

        .sort-by {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 6px;

            span {
                font-size: 1.2rem;
            }

            select {
                border-radius: 6px;
                padding: 6px 10px;
                font-size: 1.1rem;
                cursor: pointer;
                font-family: 'Fira Sans', sans-serif;
                font-weight: 300;
                transition: all 0.1s ease-in-out;

                &:hover {
                    transform: scale(1.04);
                }
            }
        }
    }
}


.listing {
    margin-top: 20px;
    display: grid;
    gap: 16px 3%;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 0;

    .post {
        display: flex;
        flex-direction: column;

        .post-link {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            position: relative;
            flex-grow: 1;

            &:hover .title {
                text-decoration: underline;
            }

            .post-image-carousel {
                margin-bottom: 6px;
                position: relative;
                border-radius: 8px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.05);
                flex-grow: 1;
                //height: 200px;

                img.post-image {
                    aspect-ratio: 1/0.8;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center; // browser default
                }

                .image-error {
                    min-height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    >img {
                        height: 30px;
                        width: 34px;
                        opacity: 0.5;
                    }
                }
            }

            .title {
                font-size: 1.1rem;
                font-weight: 400;
                margin-bottom: 6px;
            }
        }

        span.date {
            font-size: 0.8rem;
            font-weight: 400;
        }

        /* DEPRECATED
        p.description {
            font-size: 0.9rem;
            font-weight: 300;
            text-indent: 6px;
            max-height: 350px;
            overflow: hidden;
        }*/
    }
}





// Bigger phones (400px and up)
@media (min-width: 400px) {
    .category-page {
        .listing {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .category-page .listing-options .sort-by {
        gap: 20px;
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .filter-modal-container {
        .filter-modal {
            padding: 30px 30px 20px;
            max-width: 340px;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .filter-modal-container {
        .filter-modal {
            max-width: 400px;
        }
    }

    .category-page {
        .listing {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .category-page {
        .listing {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}