// Settings
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img,
button {
    user-select: none;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
li,
p {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: unset;
    list-style-type: none;
}

:root {
    --site-padding: 0 4%;
}

// Colors
html[data-colorset-1] {
    --primary-color: #303030;
    --primary-bg-color: #ffffff;

    --button-white: #ffffff;
    --button-white-border: #303030;
    --button1-1: #5997cd;
    --button2-1: #589b49;
    --button2-2: #5eb64a;
    --button3-1: #e05353;
    --button3-2: #d12e2e;
    --button4-1: #636363;

    --link-color: #307fca;
}




// Template
html {
    font-size: 14px;
}

body {
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;

    button,
    input,
    select {
        color: var(--primary-color);
    }
}

.page-content {
    display: flex;
    flex-direction: column;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




.auth-modal-container.active {
    display: flex;
}

.auth-modal-container {
    padding-top: 20vh;
    padding-bottom: 16px;
    z-index: 200;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: none;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;

    @keyframes show-login {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }


    .auth-modal {
        opacity: 1;
        animation: show-login 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: calc(12px
                /*padding*/
                + 18px
                /*position*/
                + 10px
                /*space*/
                + 1rem
                /*itself*/
            ) 24px 20px;
        background-color: var(--primary-bg-color);
        position: relative;
        border-radius: 10px;
        max-width: 260px;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);

        .close-auth-modal-button {
            all: unset;
            display: flex;
            border-radius: 50%;
            padding: 6px;
            cursor: pointer;

            position: absolute;
            top: 18px;
            right: 18px;
            font-size: 1rem;

            &:hover {
                -webkit-box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.3);
            }
        }

        .auth-tab-buttons {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            margin-bottom: 16px;

            >span {
                font-size: 1.2rem;
                font-weight: 400;
                padding: 10px 10px 10px;
                cursor: pointer;
                transition: all 0.1s ease-in-out;
                position: relative;
            }

            @keyframes inactive-login-tab-hover {
                0% {
                    width: 0px;
                }

                100% {
                    width: 16px;
                }
            }

            @keyframes inactive-login-tab-unhover {
                0% {
                    width: 16px;
                }

                100% {
                    width: 0px;
                }
            }

            >span.inactive::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #424242;
                margin: 0 auto;
                height: 1px;
                width: 16px;
                animation: inactive-login-tab-unhover 0.1s ease-in-out forwards;
            }

            >span.inactive:hover::before {
                animation: inactive-login-tab-hover 0.1s ease-in-out forwards;
            }

            @keyframes login-tab-active {
                0% {
                    width: 20px;
                }

                100% {
                    width: 100%;
                }
            }

            >span.active::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #424242;
                margin: 0 auto;
                height: 1px;
                width: 100%;
                animation: login-tab-active 0.1s ease-in-out;
            }
        }

        .login-form.active,
        .register-form.active {
            display: flex;
        }

        .login-form,
        .register-form {
            width: 100%;
            display: none;
            flex-direction: column;
            gap: 14px;
            margin-bottom: 14px;
            animation: fade-in 0.1s ease-in-out forwards;

            .form-input {
                font-size: 1.1rem;
                padding: 10px 12px 8px;
                border-radius: 6px;
                font-family: "Fira Sans", sans-serif;
                border: 1px solid var(--button-white-border);
            }

            .login-button-container,
            .register-button-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .submit-button {
                    border-radius: 20px;
                    padding: 6px 30px;
                    border: 1px solid var(--button-white-border);
                    background-color: var(--button-white);
                    font-size: 1.1rem;
                    cursor: pointer;
                    font-family: 'Fira Sans', sans-serif;
                    font-weight: 300;
                    transition: all 0.1s ease-in-out;

                    &:hover {
                        color: #ffffff;
                        border: 1px solid var(--button2-2);
                        background-color: var(--button2-2);
                    }
                }

                a {
                    font-size: 0.9rem;
                    font-weight: 300;
                    color: var(--link-color);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .register-button-container {
                justify-content: center;
            }
        }

        .warning-text,
        .success-text {
            margin-bottom: 14px;
            min-width: 100%;
            width: min-content;
            text-align: center;
        }

        .warning-text {
            font-weight: 300;
            color: #d12e2e;
        }

        .success-text {
            color: #34c532;
        }

        .or-seperator {
            margin-bottom: 14px;
        }

        .google-button-temp {
            border-radius: 20px;
            padding: 6px 20px;
            border: 1px solid var(--button-white-border);
            background-color: var(--button-white);
            font-size: 1.1rem;
            cursor: pointer;
            font-family: 'Fira Sans', sans-serif;
            font-weight: 300;
            transition: all 0.1s ease-in-out;
            margin-bottom: 14px;

            &:hover {
                color: #ffffff;
                border: 1px solid var(--button1-1);
                background-color: var(--button1-1);
            }
        }

        .line-seperator {
            width: 90%;
            border-bottom: 1px solid #b4b4b4;
            margin-bottom: 14px;
        }

        .signup-instead {
            font-weight: 300;

            a {
                margin-left: 4px;
                color: var(--link-color);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.drawer-container.active {
    display: block;
}

.drawer-container {
    display: none;
    z-index: 198;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    overflow: hidden;

    @keyframes slide-drawer {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }

    .drawer {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100vh;
        width: 70%;
        animation: slide-drawer 0.2s ease-in-out;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background-color: var(--primary-bg-color);
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        text-align: right;

        .drawer-site-logo {
            padding: 10px 6px 10px;
            margin: 20px 0 24px;
            font-size: 2rem;
            text-align: center;
            font-family: 'Cinzel', serif;
        }

        .drawer-list {
            display: flex;
            flex-direction: column;

            >a {
                font-size: 1.6rem;
                padding: 12px 20px;
                border-top: 1px solid #dddddd;

                &:last-child {
                    border-bottom: 1px solid #dddddd;
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
        }


    }
}


header>.header-container {
    height: 60px;
    width: 100%;
    padding: 0 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //border-bottom: 1px solid var(--button-white-border);

    .site-logo-wrapper {
        order: 0;

        span {
            font-family: 'Cinzel', serif;
            font-size: 2rem;
            padding-top: 4px;
            display: none;

            b {
                color: #307fca;
            }
        }

        span.m {
            display: block;
        }
    }

    .search-bar {
        order: 1;
        flex-grow: 1;
        padding: 0 20px;
        transition: all 0.1s ease-in-out;
        position: relative;

        input {
            transition: width 0.1s ease-in-out;
            width: 96%;
            max-width: 600px;
            font-size: 1.2rem;
            padding: 8px 10px;
            border: 1px solid var(--button-white-border);
            border-radius: 4px;
            font-family: 'Fira Sans', sans-serif;
            font-weight: 300;

            &:focus~.search-recommendations {
                display: block;
            }
        }

        .search-recommendations {
            padding: 0 20px;
            display: none;
            width: 100%;
            position: absolute;
            right: 0;
            left: 0;
            z-index: 199;

            ul {
                width: 96%;
                animation: fade-in 0.1s ease-in-out forwards;
                padding-top: 10px;
                max-width: 600px;
                background-color: var(--primary-bg-color);
                -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
                border-radius: 4px 4px 8px 8px;
                overflow: hidden;

                li {
                    width: 100%;
                    padding: 8px 10px;
                    transition: background-color 0.1s ease-in-out;
                    cursor: pointer;
                    font-size: 1.1rem;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                }
            }
        }
    }

    .drawer-button {
        all: unset;
        order: 2;
        display: flex;
        font-size: 2.6rem;
    }

    .user-container {
        order: 3;
        display: none;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        position: relative;

        .shortcut-wrapper {
            display: flex;
            flex-direction: row;
            gap: 12px;
            align-items: center;

            button {
                all: unset;
                display: flex;
                font-size: 1.4rem;
                cursor: pointer;
                //transition: transform 0.1s ease-in-out;
                padding: 6px;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .user-menu-button {
            all: unset;
            cursor: pointer;
            overflow: hidden;
            width: 36px;
            height: 36px;
            border-radius: 50%;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .user-menu.active {
            display: flex;
        }

        @keyframes show-user-menu {
            from {
                opacity: 0;
                top: 60px;
            }
        }

        @keyframes slide-user-menu-before {
            from {
                width: 0px;
                right: 20px;
            }
        }

        .user-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 40px;
            right: 0;
            min-height: 300px;
            border-radius: 8px 0 8px 8px;
            background-color: var(--primary-bg-color);
            -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
            z-index: 197;
            animation: show-user-menu 0.2s ease-in-out forwards;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 36px;
                height: 6px;
                background-color: #31a73d;
                animation: slide-user-menu-before 0.2s ease-in-out forwards;
            }

            .user-menu-close {
                position: absolute;
                top: 10px;
                right: 0;
                width: 36px;
                display: flex;
                justify-content: center;

                button {
                    padding: 4px;
                    border-radius: 50%;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    font-size: 0.7rem;
                    display: flex;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            .um-username {
                padding: 12px 46px 10px 14px;
            }

            .sign-out-button {
                margin: auto 20px 14px;
                align-self: center;
                padding: 4px 14px;
                font-size: 0.8rem;
                font-weight: 300;
                border-radius: 18px;
                color: #ffffff;
                background-color: var(--button3-1);
                transition: background-color 0.1s ease-in-out;
                font-family: 'Poppins', sans-serif;

                &:hover {
                    background-color: var(--button3-2);
                }
            }
        }

        .user-auth-buttons {
            display: flex;
            flex-direction: row;

            .signin-button {
                cursor: pointer;
                padding: 5px 14px;
                font-size: 1.1rem;
                border-radius: 20px 0 0 20px;
                font-family: 'Fira Sans', sans-serif;
                font-weight: 300;

                border: 1px solid var(--button-white-border);
                border-right: 1px solid transparent;
                background-color: var(--button-white);
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: #ffffff;
                    background-color: var(--button1-1);
                    border: 1px solid var(--button1-1);

                    +.signup-button {
                        border-left: 1px solid transparent;
                    }
                }
            }

            .signup-button {
                cursor: pointer;
                display: flex;
                font-size: 1.3rem;
                border-radius: 0 20px 20px 0;
                align-items: center;
                justify-content: center;
                padding: 5px 14px;

                border: 1px solid var(--button-white-border);
                background-color: var(--button-white);
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: #ffffff;
                    background-color: var(--button2-2);
                    border: 1px solid var(--button2-2);
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    min-height: 500px; // TEMP

    .breadcrumb-trail-container {
        align-self: flex-start;
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 1.1rem;
        color: #8c8c8c;

        span {
            svg {
                display: flex;
            }
        }

        a {
            padding: 5px 12px;
            border-radius: 20px;

            &:hover {
                background-color: #ededed;
            }
        }
    }
}

footer {
    margin-top: 200px;
    height: 400px;
    background-color: #424242;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .auth-modal-container .auth-modal {
        max-width: 360px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    .auth-modal-container {
        padding-top: 10vh;

        .auth-modal {
            max-width: 500px;
        }
    }

    header>.header-container {
        height: 80px;
        padding: 0 5%;

        .site-logo-wrapper {
            span.m {
                display: none;
            }

            span.d {
                display: block;
            }
        }

        .drawer-button {
            display: none;
        }

        .user-container {
            display: flex;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .auth-modal-container {
        padding-top: 20vh;
    }

    header>.header-container {
        .user-container {
            .user-auth-buttons {
                .signin-button {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}




// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    header>.header-container>.search-bar:focus-within {
        padding: 0;

        ~.site-logo-wrapper {
            display: none;
        }

        ~.drawer-button {
            display: none;
        }

        input {
            width: 100%;
        }

        .search-recommendations {
            padding: 0;

            ul {
                width: 100%;
            }
        }
    }
}