* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
button,
select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
li,
p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: unset;
  list-style-type: none;
  display: block;
}

:root {
  --site-padding: 0 4%;
}

html[data-colorset-1] {
  --primary-color: #3d3d3d;
  --primary-bg-color: #ffffff;
  --primary-light-border: #d7d7d7;
  --button-white: #ffffff;
  --button-white-border: #303030;
  --button1-1: #5997cd;
  --button1-2: #76afe1;
  --button2-1: #589b49;
  --button2-2: #5eb64a;
  --button3-1: #e05353;
  --button3-2: #d12e2e;
  --button4-1: #636363;
  --button5-1: #ffb700;
  --button5-2: #fdc432;
  --chatbot-receiver: #ffffff;
  --chatbot-you: #dbfdda;
  --focus-border: #0389ff;
  --link-color: #307fca;
}

html {
  font-size: 14px;
}

body {
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}
body button,
body input,
body select {
  color: var(--primary-color);
}

.page-content {
  display: flex;
  flex-direction: column;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.select2.list-active .s2-chosen {
  border: 1px solid var(--focus-border);
}
.select2.list-active .option-container {
  display: flex;
}

.select2 {
  position: relative;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.select2 .s2-chosen {
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  padding: 0 12px;
  border-radius: 6px;
  background-color: var(--button-white);
  border: 1px solid var(--button4-1);
  height: 2.4rem;
}
.select2 .option-container {
  display: none;
  width: 100%;
  position: absolute;
  top: 2.7rem;
  left: 0;
  right: 0;
  border-radius: 6px;
  background-color: var(--button-white);
  border: 1px solid var(--button4-1);
  flex-direction: column;
  z-index: 201;
}
.select2 .option-container .option-search-container {
  position: relative;
  margin: 10px 8px;
}
.select2 .option-container .option-search-container .option-search {
  outline: transparent;
  width: 100%;
  padding: 8px calc(20px + 1.1rem) 8px 12px;
  font-size: 1.1rem;
  border-radius: 6px;
  background-color: var(--button-white);
  border: 1px solid var(--button4-1);
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}
.select2 .option-container .option-search-container .option-search:focus {
  border: 1px solid var(--focus-border);
}
.select2 .option-container .option-search-container svg {
  position: absolute;
  right: 12px;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1rem;
}
.select2 .option-container .option-list {
  overflow-y: auto;
  max-height: 140px;
  padding-bottom: 10px;
}
.select2 .option-container .option-list li.hidden {
  display: none;
}
.select2 .option-container .option-list li {
  padding: 7px 12px;
  cursor: pointer;
}
.select2 .option-container .option-list li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.icon-wrap,
.icon {
  display: flex;
}

.icon-alert {
  position: relative;
}
.icon-alert::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -4px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e05353;
  z-index: 1;
}

.modal-container {
  z-index: 200;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: none;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}
.modal-container .close-modal-button {
  all: unset;
  display: flex;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 1rem;
}
.modal-container .close-modal-button:hover {
  box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.3);
}

.modal-container.active {
  display: flex;
}

.information-modal-container {
  padding-top: 20vh;
  padding-bottom: 16px;
}
.information-modal-container .information-modal {
  animation: fade-in 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px 30px;
  background-color: var(--primary-bg-color);
  position: relative;
  border-radius: 10px;
  max-width: 260px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
}
.information-modal-container .information-modal .icon {
  font-size: 50px;
  margin-bottom: 20px;
}
.information-modal-container .information-modal span {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 30px;
}
.information-modal-container .information-modal span ul {
  margin-left: 20px;
  margin-top: 16px;
  text-align: left;
}
.information-modal-container .information-modal span ul li.fail {
  color: #a73131;
}
.information-modal-container .information-modal span ul li {
  font-size: 1rem;
  display: list-item;
  list-style-type: disc;
  color: #31a73d;
}
.information-modal-container .information-modal button.okay-button {
  border: 1px solid var(--button-white-border);
  background-color: var(--button-white);
  border-radius: 20px;
  padding: 7px 20px;
  font-size: 1.1em;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  transition: all 0.1s ease-in-out;
}
.information-modal-container .information-modal button.okay-button:hover {
  color: #ffffff;
  border: 1px solid var(--button1-1);
  background-color: var(--button1-1);
}

.auth-modal-container {
  padding-top: 20vh;
  padding-bottom: 16px;
}
.auth-modal-container .auth-modal {
  animation: fade-in 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 24px 20px;
  background-color: var(--primary-bg-color);
  position: relative;
  border-radius: 10px;
  max-width: 260px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
  /*.google-button {
      border-radius: 20px;
      padding: 6px 20px;
      border: 1px solid var(--button-white-border);
      background-color: var(--button-white);
      font-size: 1.1rem;
      cursor: pointer;
      font-family: 'Fira Sans', sans-serif;
      font-weight: 300;
      transition: all 0.1s ease-in-out;
      margin-bottom: 14px;

      &:hover {
          color: #ffffff;
          border: 1px solid var(--button1-1);
          background-color: var(--button1-1);
      }
  }*/
}
.auth-modal-container .auth-modal .auth-tab-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 16px;
}
.auth-modal-container .auth-modal .auth-tab-buttons > span {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px 10px 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  position: relative;
}
@keyframes inactive-login-tab-hover {
  0% {
    width: 0px;
  }
  100% {
    width: 16px;
  }
}
@keyframes inactive-login-tab-unhover {
  0% {
    width: 16px;
  }
  100% {
    width: 0px;
  }
}
.auth-modal-container .auth-modal .auth-tab-buttons > span.inactive::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #424242;
  margin: 0 auto;
  height: 1px;
  width: 16px;
  animation: inactive-login-tab-unhover 0.1s ease-in-out forwards;
}
.auth-modal-container .auth-modal .auth-tab-buttons > span.inactive:hover::before {
  animation: inactive-login-tab-hover 0.1s ease-in-out forwards;
}
@keyframes login-tab-active {
  0% {
    width: 20px;
  }
  100% {
    width: 100%;
  }
}
.auth-modal-container .auth-modal .auth-tab-buttons > span.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #424242;
  margin: 0 auto;
  height: 1px;
  width: 100%;
  animation: login-tab-active 0.1s ease-in-out;
}
.auth-modal-container .auth-modal .login-form.active,
.auth-modal-container .auth-modal .register-form.active {
  display: flex;
}
.auth-modal-container .auth-modal .login-form,
.auth-modal-container .auth-modal .register-form {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 14px;
  animation: fade-in 0.1s ease-in-out forwards;
}
.auth-modal-container .auth-modal .login-form .form-input,
.auth-modal-container .auth-modal .register-form .form-input {
  font-size: 1.1rem;
  padding: 10px 12px 8px;
  border-radius: 6px;
  font-family: "Fira Sans", sans-serif;
  border: 1px solid var(--button-white-border);
}
.auth-modal-container .auth-modal .login-form .login-button-container,
.auth-modal-container .auth-modal .login-form .register-button-container,
.auth-modal-container .auth-modal .register-form .login-button-container,
.auth-modal-container .auth-modal .register-form .register-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.auth-modal-container .auth-modal .login-form .login-button-container .submit-button,
.auth-modal-container .auth-modal .login-form .register-button-container .submit-button,
.auth-modal-container .auth-modal .register-form .login-button-container .submit-button,
.auth-modal-container .auth-modal .register-form .register-button-container .submit-button {
  margin: 0 auto;
  border-radius: 20px;
  padding: 6px 30px;
  border: 1px solid var(--button-white-border);
  background-color: var(--button-white);
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  transition: all 0.1s ease-in-out;
}
.auth-modal-container .auth-modal .login-form .login-button-container .submit-button:hover,
.auth-modal-container .auth-modal .login-form .register-button-container .submit-button:hover,
.auth-modal-container .auth-modal .register-form .login-button-container .submit-button:hover,
.auth-modal-container .auth-modal .register-form .register-button-container .submit-button:hover {
  color: #ffffff;
  border: 1px solid var(--button2-2);
  background-color: var(--button2-2);
}
.auth-modal-container .auth-modal .login-form .login-button-container a,
.auth-modal-container .auth-modal .login-form .register-button-container a,
.auth-modal-container .auth-modal .register-form .login-button-container a,
.auth-modal-container .auth-modal .register-form .register-button-container a {
  display: none;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--link-color);
}
.auth-modal-container .auth-modal .login-form .login-button-container a:hover,
.auth-modal-container .auth-modal .login-form .register-button-container a:hover,
.auth-modal-container .auth-modal .register-form .login-button-container a:hover,
.auth-modal-container .auth-modal .register-form .register-button-container a:hover {
  text-decoration: underline;
}
.auth-modal-container .auth-modal .login-form .register-button-container,
.auth-modal-container .auth-modal .register-form .register-button-container {
  justify-content: center;
}
.auth-modal-container .auth-modal .warning-text,
.auth-modal-container .auth-modal .success-text {
  margin-bottom: 14px;
  min-width: 100%;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
}
.auth-modal-container .auth-modal .warning-text {
  font-weight: 300;
  color: #d12e2e;
}
.auth-modal-container .auth-modal .success-text {
  color: #34c532;
}
.auth-modal-container .auth-modal .or-seperator {
  margin-bottom: 14px;
}
.auth-modal-container .auth-modal .google-login-wrapper {
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.auth-modal-container .auth-modal .facebook-login-wrapper {
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.auth-modal-container .auth-modal .facebook-login-wrapper > button {
  border-radius: 4px;
  padding: 8px 26px;
  border: 1px solid var(--button-white-border);
  background-color: var(--button-white);
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  transition: all 0.1s ease-in-out;
}
.auth-modal-container .auth-modal .facebook-login-wrapper > button:hover {
  color: #ffffff;
  border: 1px solid var(--button1-1);
  background-color: var(--button1-1);
}
.auth-modal-container .auth-modal .line-seperator {
  display: none;
  width: 90%;
  border-bottom: 1px solid #b4b4b4;
  margin-bottom: 14px;
}
.auth-modal-container .auth-modal .signup-instead {
  display: none;
  font-weight: 300;
}
.auth-modal-container .auth-modal .signup-instead a {
  margin-left: 4px;
  color: var(--link-color);
}
.auth-modal-container .auth-modal .signup-instead a:hover {
  text-decoration: underline;
}

.drawer-container.active {
  display: block;
}

.drawer-container {
  display: none;
  z-index: 198;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  overflow: hidden;
}
@keyframes slide-drawer {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.drawer-container .drawer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 70%;
  animation: slide-drawer 0.2s ease-in-out;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
  text-align: right;
  padding-top: 20px;
}
.drawer-container .drawer .drawer-site-logo {
  margin-bottom: 10px;
  padding: 10px 6px 10px;
  font-size: 2rem;
  text-align: center;
  font-family: "Cinzel", serif;
}
.drawer-container .drawer .user-image {
  margin: 0 16px 0 auto;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: 2px solid #a6cfed;
}
.drawer-container .drawer .user-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.drawer-container .drawer .drawer-list {
  display: flex;
  flex-direction: column;
}
.drawer-container .drawer .drawer-list > a {
  font-size: 1.6rem;
  padding: 12px 20px;
  border-top: 1px solid #dddddd;
}
.drawer-container .drawer .drawer-list > a:last-child {
  border-bottom: 1px solid #dddddd;
}
.drawer-container .drawer .drawer-list > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.drawer-container .drawer .dr-profile-button {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: right;
  margin: 6px 0;
  padding: 6px 20px;
}
.drawer-container .drawer .dr-profile-button .dr-username {
  font-size: 1.4rem;
  font-weight: 400;
}
.drawer-container .drawer .dr-profile-button .dr-email {
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 0.8;
}
.drawer-container .drawer .sign-out-button {
  margin-top: auto;
  text-align: center;
  padding: 12px 6px;
  font-size: 1.2rem;
  font-weight: 300;
  color: #ffffff;
  background-color: var(--button3-1);
  transition: background-color 0.1s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.chatbot-container.active {
  display: flex;
}

.chatbot-container {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 196;
}
.chatbot-container .chatbot {
  width: 100%;
  height: 100%;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}
.chatbot-container .chatbot .chatbot-shortcut-button {
  display: flex;
  font-size: 1.2rem;
  border-radius: 50%;
  padding: 4px;
}
.chatbot-container .chatbot .chatbot-shortcut-button:hover {
  transform: scale(1.2);
}
.chatbot-container .chatbot .chatbot-menu.active {
  transform: translateX(0%);
}
.chatbot-container .chatbot .chatbot-menu {
  transform: translateX(-100%);
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--primary-light-border);
  transition: transform 0.1s ease-in-out;
  background-color: var(--primary-bg-color);
}
.chatbot-container .chatbot .chatbot-menu .chatbot-menu-header {
  padding: 12px 14px;
  border-bottom: 1px solid var(--primary-light-border);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.chatbot-container .chatbot .chatbot-menu .chatbot-menu-header h5 {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
.chatbot-container .chatbot .chatbot-menu .chatbot-menu-header .chatbot-add-user {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding: 5px 12px 3px;
  border-radius: 12px;
  background-color: var(--button-white);
  border: 1px solid var(--primary-light-border);
  font-size: 1rem;
}
.chatbot-container .chatbot .chatbot-menu .chatbot-menu-header .chatbot-add-user svg {
  font-size: 1.1rem;
  transition: all 0.1s ease-in-out;
  margin-left: 7px;
  width: 1.1rem;
}
.chatbot-container .chatbot .chatbot-menu .chatbot-contacts {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /*.contact-item{
      &::before{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 70%;
          height: 1px;
          background-color: var(--primary-light-border);
          margin: 0 auto;
      }

      &:last-of-type{
          &::before{
              content: unset;
          }
      }
  }*/
}
.chatbot-container .chatbot .chatbot-menu .chatbot-contacts .contact-item.active {
  background-color: rgba(0, 0, 0, 0.06);
  border-left: 4px solid #22bded;
}
.chatbot-container .chatbot .chatbot-menu .chatbot-contacts .contact-item.default:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.chatbot-container .chatbot .chatbot-menu .chatbot-contacts .contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 4px 0;
  border-left: 4px solid transparent;
  position: relative;
}
.chatbot-container .chatbot .chatbot-menu .chatbot-contacts .contact-item .profile-picture {
  padding: 8px;
  display: flex;
  width: 60px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.chatbot-container .chatbot .chatbot-menu .chatbot-contacts .contact-item .profile-picture img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.chatbot-container .chatbot .chatbot-menu .chatbot-contacts .contact-item .profile-picture .no-ppic {
  font-size: 44px;
  display: flex;
  opacity: 0.2;
}
.chatbot-container .chatbot .chatbot-menu .chatbot-contacts .contact-item .body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 8px 0 2px;
  overflow: hidden;
}
.chatbot-container .chatbot .chatbot-menu .chatbot-contacts .contact-item .body .person-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
  gap: 10px;
}
.chatbot-container .chatbot .chatbot-menu .chatbot-contacts .contact-item .body .person-header .name {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  overflow: hidden;
}
.chatbot-container .chatbot .chatbot-menu .chatbot-contacts .contact-item .body .person-header .last-contact {
  font-size: 0.8rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.chatbot-container .chatbot .chatbot-menu .chatbot-contacts .contact-item .body .last-message {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9rem;
  font-weight: 300;
}
.chatbot-container .chatbot .chatbot-menu .chatbot-contacts .contact-item .body .message-alert {
  margin-left: auto;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #31a73d;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 22px;
  height: 22px;
  justify-content: center;
}
.chatbot-container .chatbot .chatbot-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chatbot-container .chatbot .chatbot-body .chatbot-body-header {
  width: 100%;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid var(--primary-light-border);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.chatbot-container .chatbot .chatbot-body .chatbot-body-header .contact-menu-button {
  font-size: 1.8rem;
}
.chatbot-container .chatbot .chatbot-body .chatbot-body-header h5 {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  padding-top: 2px;
}
.chatbot-container .chatbot .chatbot-body .chatbot-body-header .chatbot-shortcuts {
  outline: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  position: relative;
}
.chatbot-container .chatbot .chatbot-body .chatbot-body-header .chatbot-shortcuts .chatbot-user-menu.active {
  display: flex;
}
.chatbot-container .chatbot .chatbot-body .chatbot-body-header .chatbot-shortcuts .chatbot-user-menu {
  display: none;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  right: 80%;
  top: calc(14px + 1.2rem);
  animation: fade-in 0.1s ease-in-out forwards;
}
.chatbot-container .chatbot .chatbot-body .chatbot-body-header .chatbot-shortcuts .chatbot-user-menu ul {
  background-color: var(--primary-bg-color);
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--primary-light-border);
}
.chatbot-container .chatbot .chatbot-body .chatbot-body-header .chatbot-shortcuts .chatbot-user-menu ul li {
  padding: 10px 24px 10px 10px;
  cursor: pointer;
  border-bottom: 1px solid var(--primary-light-border);
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 300;
}
.chatbot-container .chatbot .chatbot-body .chatbot-body-header .chatbot-shortcuts .chatbot-user-menu ul li:last-of-type {
  border-bottom: unset;
}
.chatbot-container .chatbot .chatbot-body .chatbot-body-header .chatbot-shortcuts .chatbot-user-menu ul li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.chatbot-container .chatbot .chatbot-body .chatbot-body-header .chatbot-shortcuts .fullscreen-button {
  display: none;
}
.chatbot-container .chatbot .chatbot-body .chatbot-body-header .chatbot-shortcuts .fullscreen-button:hover {
  transform: scale(1.1);
}
.chatbot-container .chatbot .chatbot-body .message-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  font-size: 1.1rem;
  font-weight: 300;
  flex-grow: 1;
}
.chatbot-container .chatbot .chatbot-body .message-box .messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px 10px;
  overflow-y: auto;
}
.chatbot-container .chatbot .chatbot-body .message-box .messages .show-all-messages {
  align-self: center;
  border-radius: 4px;
  padding: 4px 20px;
  border: 1px solid var(--button-white-border);
  background-color: var(--button-white);
  font-size: 0.9rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  transition: all 0.1s ease-in-out;
}
.chatbot-container .chatbot .chatbot-body .message-box .messages .show-all-messages:hover {
  color: #ffffff;
  border: 1px solid var(--button4-1);
  background-color: var(--button4-1);
}
.chatbot-container .chatbot .chatbot-body .message-box .messages .no-thread-selected,
.chatbot-container .chatbot .chatbot-body .message-box .messages .empty-thread {
  padding: 80px 0;
  text-align: center;
  font-size: 1.2rem;
}
@keyframes new-message {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
.chatbot-container .chatbot .chatbot-body .message-box .messages .message-item {
  display: flex;
  max-width: 90%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  flex-direction: row;
  align-items: flex-end;
  position: relative;
}
.chatbot-container .chatbot .chatbot-body .message-box .messages .message-item p {
  display: inline;
  padding: 8px;
}
.chatbot-container .chatbot .chatbot-body .message-box .messages .message-item .message-date {
  padding: 0 6px 2px 2px;
  font-size: 0.9rem;
  opacity: 0.7;
}
.chatbot-container .chatbot .chatbot-body .message-box .messages .message-item::before {
  z-index: 1;
  border-bottom: none;
  border-top: none;
  border-left: 2px solid transparent;
  display: block;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  width: 4px;
  height: 9px;
}
.chatbot-container .chatbot .chatbot-body .message-box .messages .message-item.animate-new {
  animation: new-message 0.2s ease-in-out forwards;
}
.chatbot-container .chatbot .chatbot-body .message-box .messages .message-item.receiver {
  border-radius: 0 10px 10px 10px;
  align-self: flex-start;
  background-color: var(--chatbot-receiver);
}
.chatbot-container .chatbot .chatbot-body .message-box .messages .message-item.receiver::before {
  left: -8px;
  border-right: 4px solid rgba(0, 0, 0, 0.1);
  transform: rotate(20deg);
}
.chatbot-container .chatbot .chatbot-body .message-box .messages .message-item.you {
  border-radius: 10px 10px 0 10px;
  align-self: flex-end;
  background-color: var(--chatbot-you);
}
.chatbot-container .chatbot .chatbot-body .message-box .messages .message-item.you::before {
  right: -8px;
  transform: rotate(154deg);
  border-right: 4px solid #d1e9d0;
}
.chatbot-container .chatbot .chatbot-body .send-message-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px 16px;
  gap: 10px;
  box-shadow: 0px 0px 16px -10px rgba(0, 0, 0, 0.4);
}
.chatbot-container .chatbot .chatbot-body .send-message-container .message-input {
  outline: transparent;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Fira sans", sans-serif;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--primary-light-border);
  width: 100%;
  resize: vertical;
}
.chatbot-container .chatbot .chatbot-body .send-message-container .send {
  padding: 11px 11px 8px 8px;
  border-radius: 50%;
  display: flex;
  color: #ffffff;
  background-color: var(--button2-1);
  transition: background-color 0.1s ease-in-out;
}
.chatbot-container .chatbot .chatbot-body .send-message-container .send:hover {
  background-color: var(--button2-2);
}

header > .header-container {
  height: 60px;
  width: 100%;
  padding: 0 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header > .header-container .site-logo-wrapper {
  order: 0;
}
header > .header-container .site-logo-wrapper span {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  padding-top: 4px;
  display: none;
}
header > .header-container .site-logo-wrapper span.m {
  display: block;
}
header > .header-container .site-logo-wrapper .open-chatbot-button {
  all: unset;
  display: flex;
  font-size: 2rem;
  padding: 6px;
}
header > .header-container .search-bar {
  order: 1;
  flex-grow: 1;
  padding: 0 20px;
  transition: all 0.1s ease-in-out;
  position: relative;
}
header > .header-container .search-bar input {
  transition: width 0.1s ease-in-out;
  width: 96%;
  max-width: 600px;
  font-size: 1.2rem;
  padding: 8px 10px;
  border: 1px solid var(--button-white-border);
  border-radius: 4px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}
header > .header-container .search-bar input:focus ~ .search-recommendations {
  display: block;
}
header > .header-container .search-bar .search-recommendations {
  padding: 0 20px;
  display: none;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 199;
}
header > .header-container .search-bar .search-recommendations ul {
  width: 96%;
  animation: fade-in 0.1s ease-in-out forwards;
  padding-top: 10px;
  max-width: 600px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 8px 8px;
  overflow: hidden;
}
header > .header-container .search-bar .search-recommendations ul li {
  width: 100%;
}
header > .header-container .search-bar .search-recommendations ul li a {
  width: 100%;
  padding: 10px 10px;
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;
  font-size: 1.1rem;
}
header > .header-container .search-bar .search-recommendations ul li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
header > .header-container .drawer-button {
  all: unset;
  order: 2;
  display: flex;
  font-size: 2.6rem;
}
header > .header-container .user-container {
  order: 3;
  display: none;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  position: relative;
}
header > .header-container .user-container .shortcut-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
header > .header-container .user-container .shortcut-wrapper a,
header > .header-container .user-container .shortcut-wrapper button {
  all: unset;
  display: flex;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 6px;
}
header > .header-container .user-container .shortcut-wrapper a:hover,
header > .header-container .user-container .shortcut-wrapper button:hover {
  transform: scale(1.05);
}
header > .header-container .user-container .user-menu-button {
  all: unset;
  cursor: pointer;
  overflow: hidden;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  outline: 2px solid #a6cfed;
}
header > .header-container .user-container .user-menu-button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header > .header-container .user-container .user-menu.active {
  display: flex;
}
@keyframes show-user-menu {
  from {
    opacity: 0;
    top: 60px;
  }
}
@keyframes slide-user-menu-before {
  from {
    width: 0px;
    right: 20px;
  }
}
header > .header-container .user-container .user-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  border-radius: 8px 0 8px 8px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
  z-index: 197;
  animation: show-user-menu 0.2s ease-in-out forwards;
  overflow: hidden;
}
header > .header-container .user-container .user-menu::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 6px;
  background-color: #31a73d;
  animation: slide-user-menu-before 0.2s ease-in-out forwards;
}
header > .header-container .user-container .user-menu .user-menu-close {
  position: absolute;
  top: 10px;
  right: 0;
  width: 36px;
  display: flex;
  justify-content: center;
  display: none;
}
header > .header-container .user-container .user-menu .user-menu-close button {
  padding: 4px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 0.7rem;
  display: flex;
}
header > .header-container .user-container .user-menu .user-menu-close button:hover {
  transform: scale(1.05);
}
header > .header-container .user-container .user-menu .um-profile {
  padding: 16px 16px 12px;
  border-bottom: 1px solid var(--primary-light-border);
  display: flex;
  flex-direction: column;
  gap: 4px;
}
header > .header-container .user-container .user-menu .um-profile:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
header > .header-container .user-container .user-menu .um-profile .um-username {
  font-size: 1rem;
  font-weight: 400;
  margin-right: 40px;
}
header > .header-container .user-container .user-menu .um-profile .um-email {
  font-size: 0.9rem;
  font-weight: 300;
  opacity: 0.8;
}
header > .header-container .user-container .user-menu .user-menu-list li {
  border-bottom: 1px solid var(--primary-light-border);
}
header > .header-container .user-container .user-menu .user-menu-list li a {
  padding: 10px;
  text-align: center;
}
header > .header-container .user-container .user-menu .user-menu-list li a:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
header > .header-container .user-container .user-menu .sign-out-button {
  margin: 28px 20px 14px;
  align-self: center;
  padding: 4px 14px;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 18px;
  color: #ffffff;
  background-color: var(--button3-1);
  transition: background-color 0.1s ease-in-out;
  font-family: "Poppins", sans-serif;
}
header > .header-container .user-container .user-menu .sign-out-button:hover {
  background-color: var(--button3-2);
}
header > .header-container .user-container .user-auth-buttons {
  display: flex;
  flex-direction: row;
}
header > .header-container .user-container .user-auth-buttons .signin-button {
  cursor: pointer;
  padding: 5px 14px;
  font-size: 1.1rem;
  border-radius: 20px 0 0 20px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  border: 1px solid var(--button-white-border);
  border-right: 1px solid transparent;
  background-color: var(--button-white);
  transition: all 0.2s ease-in-out;
}
header > .header-container .user-container .user-auth-buttons .signin-button:hover {
  color: #ffffff;
  background-color: var(--button1-1);
  border: 1px solid var(--button1-1);
}
header > .header-container .user-container .user-auth-buttons .signin-button:hover + .signup-button {
  border-left: 1px solid transparent;
}
header > .header-container .user-container .user-auth-buttons .signup-button {
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  border-radius: 0 20px 20px 0;
  align-items: center;
  justify-content: center;
  padding: 5px 14px;
  border: 1px solid var(--button-white-border);
  background-color: var(--button-white);
  transition: all 0.2s ease-in-out;
}
header > .header-container .user-container .user-auth-buttons .signup-button:hover {
  color: #ffffff;
  background-color: var(--button2-2);
  border: 1px solid var(--button2-2);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}
main .breadcrumb-trail-container {
  align-self: flex-start;
  padding: 20px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1.1rem;
  color: #8c8c8c;
}
main .breadcrumb-trail-container span svg {
  display: flex;
}
main .breadcrumb-trail-container a {
  border-radius: 20px;
}
main .breadcrumb-trail-container a:hover {
  background-color: #ededed;
}

footer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #424242;
}
footer h1 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  margin: 40px 0 40px;
  text-align: center;
}
footer h5 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 40px;
  text-align: center;
}
footer .copyright {
  align-self: center;
  padding: 0 30px;
}
footer .copyright p {
  border-top: 1px solid #d9d9d9;
  padding: 20px 2%;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
}

.page-not-found {
  margin-top: 20vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.page-not-found .wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.page-not-found .wrapper h1 {
  font-size: 2.6rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.page-not-found .wrapper p {
  font-size: 1.1rem;
  font-weight: 300;
}

@media (min-width: 576px) {
  .auth-modal-container .auth-modal {
    max-width: 360px;
  }
}
@media (min-width: 768px) {
  :root {
    --site-padding: 0 5%;
  }
  html {
    font-size: 16px;
  }
  .chatbot-container {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .chatbot-container .chatbot.fullscreen {
    height: 100%;
    width: 100%;
    margin-right: unset;
    border-radius: unset;
    box-shadow: unset;
  }
  .chatbot-container .chatbot.fullscreen .chatbot-menu {
    width: 30%;
  }
  .chatbot-container .chatbot.fullscreen .chatbot-body {
    width: 70%;
  }
  .chatbot-container .chatbot {
    width: unset;
    margin-right: 20px;
    height: 94%;
    border-radius: 12px 12px 0 0;
    box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.3);
  }
  .chatbot-container .chatbot .chatbot-menu {
    width: 260px;
    position: unset;
    transform: unset;
  }
  .chatbot-container .chatbot .chatbot-menu .chatbot-menu-header .chatbot-add-user svg {
    transform: translateX(300%);
    width: 0;
    transition: all 0.1s ease-in-out;
    margin-left: unset;
  }
  .chatbot-container .chatbot .chatbot-menu .chatbot-menu-header .chatbot-add-user:hover svg {
    margin-left: 7px;
    width: 1.1rem;
    transform: unset;
  }
  .chatbot-container .chatbot .chatbot-menu .chatbot-menu-header .chatbot-shortcut-button {
    display: none;
  }
  .chatbot-container .chatbot .chatbot-body {
    width: 440px;
  }
  .chatbot-container .chatbot .chatbot-body .chatbot-body-header {
    gap: 16px;
  }
  .chatbot-container .chatbot .chatbot-body .chatbot-body-header .contact-menu-button {
    display: none;
  }
  .chatbot-container .chatbot .chatbot-body .chatbot-body-header .chatbot-shortcuts {
    gap: 16px;
  }
  .chatbot-container .chatbot .chatbot-body .chatbot-body-header .chatbot-shortcuts .fullscreen-button {
    display: flex;
  }
  .information-modal-container .information-modal {
    max-width: 500px;
  }
  .auth-modal-container {
    padding-top: 10vh;
  }
  .auth-modal-container .auth-modal {
    max-width: 500px;
  }
  header > .header-container {
    height: 80px;
    padding: 0 5%;
  }
  header > .header-container .site-logo-wrapper .open-chatbot-button,
  header > .header-container .site-logo-wrapper span.m {
    display: none;
  }
  header > .header-container .site-logo-wrapper span.d {
    display: block;
  }
  header > .header-container .drawer-button {
    display: none;
  }
  header > .header-container .user-container {
    display: flex;
  }
  main .breadcrumb-trail-container a {
    padding: 5px 12px;
  }
}
@media (min-width: 992px) {
  .chatbot-container .chatbot {
    margin-right: 30px;
    height: 80%;
  }
  .chatbot-container .chatbot .chatbot-menu {
    width: 300px;
  }
  .chatbot-container .chatbot .chatbot-body {
    width: 600px;
  }
}
@media (min-width: 1200px) {
  .auth-modal-container {
    padding-top: 20vh;
  }
  header > .header-container .user-container .user-auth-buttons .signin-button {
    font-size: 1.2rem;
  }
}
@media (max-width: 767.98px) {
  header > .header-container > .search-bar:focus-within {
    padding: 0;
  }
  header > .header-container > .search-bar:focus-within ~ .site-logo-wrapper {
    display: none;
  }
  header > .header-container > .search-bar:focus-within ~ .drawer-button {
    display: none;
  }
  header > .header-container > .search-bar:focus-within input {
    width: 100%;
  }
  header > .header-container > .search-bar:focus-within .search-recommendations {
    padding: 0;
  }
  header > .header-container > .search-bar:focus-within .search-recommendations ul {
    width: 100%;
  }
}/*# sourceMappingURL=global.css.map */