// Settings
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img,
button,
select {
    user-select: none;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
li,
p {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: unset;
    list-style-type: none;
    display: block;
}

:root {
    --site-padding: 0 4%;
}

// Colors
html[data-colorset-1] {
    --primary-color: #3d3d3d;
    --primary-bg-color: #ffffff;
    --primary-light-border: #d7d7d7;

    --button-white: #ffffff;
    --button-white-border: #303030;
    --button1-1: #5997cd;
    --button1-2: #76afe1;
    --button2-1: #589b49;
    --button2-2: #5eb64a;
    --button3-1: #e05353;
    --button3-2: #d12e2e;
    --button4-1: #636363;
    --button5-1: #ffb700;
    --button5-2: #fdc432;

    --chatbot-receiver: #ffffff;
    --chatbot-you: #dbfdda;

    --focus-border: #0389ff;
    --link-color: #307fca;
}




// Template
html {
    font-size: 14px;
}

body {
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;

    button,
    input,
    select {
        color: var(--primary-color);
    }
}

.page-content {
    display: flex;
    flex-direction: column;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.checkbox-1 {
    display: flex;
    align-items: center;
    gap: 4px;

    input {
        height: 20px;
        width: 18px;
        accent-color: #0bac00;
    }

    span {
        font-weight: 400;
        font-size: 0.9rem;
    }
}

.select2.list-active {
    .s2-chosen {
        border: 1px solid var(--focus-border);
    }

    .option-container {
        display: flex;
    }
}

.select2 {
    position: relative;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

    .s2-chosen {
        width: 100%;
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 14px;
        padding: 0 12px;
        border-radius: 6px;
        background-color: var(--button-white);
        border: 1px solid var(--button4-1);
        height: 2.4rem;
    }

    .option-container {
        display: none;
        width: 100%;
        position: absolute;
        top: 2.7rem;
        left: 0;
        right: 0;
        border-radius: 6px;
        background-color: var(--button-white);
        border: 1px solid var(--button4-1);
        flex-direction: column;
        z-index: 201;

        .option-search-container {
            position: relative;
            margin: 10px 8px;

            .option-search {
                outline: transparent;
                width: 100%;
                padding: 8px calc(20px + 1.1rem) 8px 12px;
                font-size: 1.1rem;
                border-radius: 6px;
                background-color: var(--button-white);
                border: 1px solid var(--button4-1);
                font-family: 'Fira Sans', sans-serif;
                font-weight: 300;

                &:focus {
                    border: 1px solid var(--focus-border);
                }
            }

            svg {
                position: absolute;
                right: 12px;
                bottom: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 1.1rem;
            }
        }

        .option-list {
            max-height: 140px;
            padding-bottom: 10px;
            overflow-y: auto;
            overscroll-behavior: none;

            li.hidden {
                display: none;
            }

            li {
                padding: 7px 12px;
                cursor: pointer;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
        }
    }
}

// Icon settings
.icon-wrap,
.icon {
    display: flex;
}

.icon-alert {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -3px;
        right: -4px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #e05353;
        z-index: 1;
    }
}






.modal-container {
    z-index: 200;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: none;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    overscroll-behavior: none;

    .close-modal-button {
        all: unset;
        display: flex;
        border-radius: 50%;
        padding: 6px;
        cursor: pointer;

        position: absolute;
        top: 18px;
        right: 18px;
        font-size: 1rem;

        &:hover {
            -webkit-box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.3);
        }
    }
}

.modal-container.active {
    display: flex;
}


.information-modal-container {
    padding-top: 20vh;
    padding-bottom: 16px;

    .information-modal {
        animation: fade-in 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 24px 30px;
        background-color: var(--primary-bg-color);
        position: relative;
        border-radius: 10px;
        max-width: 260px;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);

        .icon {
            font-size: 50px;
            margin-bottom: 20px;
        }

        span {
            text-align: center;
            font-size: 1.4rem;
            font-weight: 300;
            margin-bottom: 30px;

            ul {
                margin-left: 20px;
                margin-top: 16px;
                text-align: left;

                li.fail {
                    color: #a73131;
                }

                li {
                    font-size: 1rem;
                    display: list-item;
                    list-style-type: disc;
                    color: #31a73d;
                }
            }
        }

        button.okay-button {
            border: 1px solid var(--button-white-border);
            background-color: var(--button-white);
            border-radius: 20px;
            padding: 7px 20px;
            font-size: 1.1em;
            cursor: pointer;
            font-family: 'Fira Sans', sans-serif;
            font-weight: 300;
            transition: all 0.1s ease-in-out;

            &:hover {
                color: #ffffff;
                border: 1px solid var(--button1-1);
                background-color: var(--button1-1);
            }
        }
    }
}

.admin-modal-container {
    padding-top: 6vh;
    padding-bottom: 34px;

    .admin-modal {
        animation: fade-in 0.2s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 24px 40px;
        background-color: var(--primary-bg-color);
        position: relative;
        border-radius: 10px;
        max-width: 260px;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);

        .post-action {
            display: flex;
            gap: 12px;
            align-items: center;

            .post-action-options {
                display: flex;
                flex-direction: column;
                gap: 6px;

                select {
                    padding: 5px 6px;
                    font-size: 1rem;
                    border-radius: 4px;
                    border: 1px solid var(--button-white-border);
                    font-weight: 300;
                }
            }

            button {
                padding: 5px 10px;
                border-radius: 4px;
                background-color: var(--button2-1);
                color: #ffffff;
                transition: background-color 0.1s ease-in-out;
                font-weight: 300;
                font-size: 1rem;

                &:hover {
                    background-color: var(--button2-2);
                }
            }
        }
    }
}

.auth-modal-container {
    padding-top: 10vh;
    padding-bottom: 34px;

    .auth-modal {
        animation: fade-in 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 24px 20px;
        background-color: var(--primary-bg-color);
        position: relative;
        border-radius: 10px;
        max-width: 260px;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);

        .auth-tab-buttons {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            margin-bottom: 16px;

            >span {
                font-size: 1.2rem;
                font-weight: 400;
                padding: 10px 10px 10px;
                cursor: pointer;
                transition: all 0.1s ease-in-out;
                position: relative;
            }

            @keyframes inactive-login-tab-hover {
                0% {
                    width: 0px;
                }

                100% {
                    width: 16px;
                }
            }

            @keyframes inactive-login-tab-unhover {
                0% {
                    width: 16px;
                }

                100% {
                    width: 0px;
                }
            }

            >span.inactive::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #424242;
                margin: 0 auto;
                height: 1px;
                width: 16px;
                animation: inactive-login-tab-unhover 0.1s ease-in-out forwards;
            }

            >span.inactive:hover::before {
                animation: inactive-login-tab-hover 0.1s ease-in-out forwards;
            }

            @keyframes login-tab-active {
                0% {
                    width: 20px;
                }

                100% {
                    width: 100%;
                }
            }

            >span.active::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #424242;
                margin: 0 auto;
                height: 1px;
                width: 100%;
                animation: login-tab-active 0.1s ease-in-out;
            }
        }

        .login-form.active,
        .register-form.active {
            display: flex;
        }

        .login-form,
        .register-form {
            width: 100%;
            display: none;
            flex-direction: column;
            gap: 14px;
            margin-bottom: 14px;
            animation: fade-in 0.1s ease-in-out forwards;

            .form-input {
                font-size: 1.1rem;
                padding: 10px 12px 8px;
                border-radius: 6px;
                font-family: "Fira Sans", sans-serif;
                border: 1px solid var(--button-white-border);
            }

            .accept-legal {
                a {
                    all: revert;
                    display: inline;
                }
            }

            .login-button-container,
            .register-button-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .submit-button {
                    margin: 0 auto; // Without forgot password
                    border-radius: 20px;
                    padding: 6px 30px;
                    border: 1px solid var(--button-white-border);
                    background-color: var(--button-white);
                    font-size: 1.1rem;
                    cursor: pointer;
                    font-family: 'Fira Sans', sans-serif;
                    font-weight: 300;
                    transition: all 0.1s ease-in-out;

                    &:hover {
                        color: #ffffff;
                        border: 1px solid var(--button2-2);
                        background-color: var(--button2-2);
                    }
                }

                a {
                    display: none;
                    font-size: 0.9rem;
                    font-weight: 300;
                    color: var(--link-color);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .register-button-container {
                justify-content: center;
            }
        }

        .warning-text,
        .success-text {
            margin-bottom: 14px;
            min-width: 100%;
            width: min-content;
            text-align: center;
        }

        .warning-text {
            font-weight: 300;
            color: #d12e2e;
        }

        .success-text {
            color: #34c532;
        }

        .or-seperator {
            margin-bottom: 14px;
        }

        .google-login-wrapper {
            margin-bottom: 14px;
            display: flex;
            justify-content: center;
            max-width: 100%;
        }

        .facebook-login-wrapper {
            margin-bottom: 14px;
            display: flex;
            justify-content: center;
            width: 100%;
            overflow: hidden;

            >button {
                border-radius: 4px;
                padding: 8px 26px;
                border: 1px solid var(--button-white-border);
                background-color: var(--button-white);
                font-size: 1.1rem;
                cursor: pointer;
                font-family: 'Fira Sans', sans-serif;
                font-weight: 300;
                transition: all 0.1s ease-in-out;

                &:hover {
                    color: #ffffff;
                    border: 1px solid var(--button1-1);
                    background-color: var(--button1-1);
                }
            }

            // Temporary
            >button {
                opacity: 0.4;
                cursor: default;
                background-color: rgba(0, 0, 0, 0.03);
                pointer-events: none;
            }
        }

        .oauth-legal-note {
            font-size: 0.7rem;
            font-weight: 300;

            br {
                display: none;
            }

            a {
                display: inline;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        /*.google-button {
            border-radius: 20px;
            padding: 6px 20px;
            border: 1px solid var(--button-white-border);
            background-color: var(--button-white);
            font-size: 1.1rem;
            cursor: pointer;
            font-family: 'Fira Sans', sans-serif;
            font-weight: 300;
            transition: all 0.1s ease-in-out;
            margin-bottom: 14px;

            &:hover {
                color: #ffffff;
                border: 1px solid var(--button1-1);
                background-color: var(--button1-1);
            }
        }*/

        .line-seperator {
            width: 90%;
            border-bottom: 1px solid #b4b4b4;
            margin-bottom: 14px;
        }

        .signup-instead {
            font-weight: 300;

            a {
                margin-left: 4px;
                color: var(--link-color);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.notification-modal-container {
    padding-top: 10vh;
    padding-bottom: 50px;

    .notification-modal {
        animation: fade-in 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px 20px;
        background-color: var(--primary-bg-color);
        position: relative;
        border-radius: 10px;
        max-width: 260px;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);

        .notification-content {
            display: flex;
            flex-direction: column;

            .post-expiration-question {
                display: flex;
                flex-direction: column;
                gap: 8px;

                h4 {
                    font-weight: 400;
                    font-size: 1.2rem;
                    font-family: 'Poppins', sans-serif;
                    padding: 0;
                }

                p {
                    font-size: 1.1rem;
                    font-weight: 300;
                }
            }

            .post-expiration-actions {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                gap: 8px;
                margin: 24px 0 8px;

                button {
                    border: none;
                    border-radius: 6px;
                    padding: 8px 18px;
                    font-size: 1rem;
                    cursor: pointer;
                    font-family: 'Fira Sans', sans-serif;
                    font-weight: 300;
                    color: #ffffff;
                }

                .negative {
                    background-color: var(--button3-1);

                    &:hover {
                        background-color: var(--button3-2);
                    }
                }

                .positive {
                    background-color: var(--button2-1);

                    &:hover {
                        background-color: var(--button2-2);
                    }
                }
            }
        }
    }
}


.drawer-container.active {
    display: block;
}

.drawer-container {
    display: none;
    z-index: 198;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    overflow: hidden;

    @keyframes slide-drawer {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(0);
        }
    }

    .drawer {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 70%;
        animation: slide-drawer 0.2s ease-in-out;
        display: flex;
        flex-direction: column;
        background-color: var(--primary-bg-color);
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
        text-align: right;
        padding-top: 20px;
        overflow-y: auto;
        overscroll-behavior: none;

        .drawer-site-logo {
            margin-bottom: 10px;
            padding: 10px 6px 10px;
            font-size: 2rem;
            text-align: center;
            font-family: 'Cinzel', serif;
        }

        .user-image {
            margin: 0 16px 0 auto;
            overflow: hidden;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            outline: 2px solid #a6cfed;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .drawer-list {
            display: flex;
            flex-direction: column;

            >a {
                font-size: 1.6rem;
                padding: 12px 20px;
                border-top: 1px solid #dddddd;

                &:last-child {
                    border-bottom: 1px solid #dddddd;
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }
        }

        .dr-profile-button {
            display: flex;
            flex-direction: column;
            gap: 6px;
            text-align: right;
            margin: 6px 0;
            padding: 6px 20px;

            .dr-username {
                font-size: 1.4rem;
                font-weight: 400;
            }

            .dr-email {
                font-size: 1.2rem;
                font-weight: 300;
                opacity: 0.8;
            }
        }

        .sign-out-button {
            margin-top: auto;
            text-align: center;
            padding: 12px 6px;
            font-size: 1.2rem;
            font-weight: 300;
            color: #ffffff;
            background-color: var(--button3-1);
            transition: background-color 0.1s ease-in-out;
            font-family: 'Poppins', sans-serif;
        }


    }
}





.chatbot-container.active {
    display: flex;

}

.chatbot-container {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 196;

    .chatbot {
        width: 100%;
        height: 100%;
        background-color: var(--primary-bg-color);
        display: flex;
        flex-direction: row;
        position: relative;
        overflow: hidden;

        .chatbot-shortcut-button {
            display: flex;
            font-size: 1.2rem;
            border-radius: 50%;
            padding: 4px;

            &:hover {
                transform: scale(1.2);
            }
        }

        .chatbot-menu.active {
            transform: translateX(0%);
        }

        .chatbot-menu {
            transform: translateX(-100%);
            z-index: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            border-right: 1px solid var(--primary-light-border);
            transition: transform 0.1s ease-in-out;
            background-color: var(--primary-bg-color);

            .chatbot-menu-header {
                padding: 12px 14px;
                border-bottom: 1px solid var(--primary-light-border);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                h5 {
                    font-weight: 300;
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.2rem;
                }

                .chatbot-add-user {
                    display: flex;
                    align-items: center;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 300;
                    padding: 5px 12px 3px;
                    border-radius: 12px;
                    background-color: var(--button-white);
                    border: 1px solid var(--primary-light-border);
                    font-size: 1rem;

                    svg {
                        font-size: 1.1rem;
                        transition: all 0.1s ease-in-out;
                        margin-left: 7px;
                        width: 1.1rem;
                    }
                }
            }

            .chatbot-contacts {
                display: flex;
                flex-direction: column;
                overflow-y: auto;
                overscroll-behavior: none;

                .contact-item.active {
                    background-color: rgba(0, 0, 0, 0.06);
                    border-left: 4px solid #22bded;
                }

                .contact-item.default:hover {
                    background-color: rgba(0, 0, 0, 0.03);
                }

                /*.contact-item{
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 70%;
                        height: 1px;
                        background-color: var(--primary-light-border);
                        margin: 0 auto;
                    }

                    &:last-of-type{
                        &::before{
                            content: unset;
                        }
                    }
                }*/

                .contact-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
                    padding: 4px 0;
                    border-left: 4px solid transparent;
                    position: relative;

                    .profile-picture {
                        padding: 8px;
                        display: flex;
                        width: 60px;
                        height: 60px;
                        overflow: hidden;
                        flex-shrink: 0;

                        img {
                            width: 44px;
                            height: 44px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        .no-ppic {
                            font-size: 44px;
                            display: flex;
                            opacity: 0.2;
                        }
                    }

                    .body {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        padding: 0 8px 0 2px;
                        overflow: hidden;

                        .person-header {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 2px;
                            gap: 10px;

                            .name {
                                font-size: 1.2rem;
                                font-weight: 300;
                                font-family: 'Poppins', sans-serif;
                                white-space: nowrap;
                                overflow: hidden;
                            }

                            .last-contact {
                                font-size: 0.8rem;
                                font-weight: 300;
                                font-family: 'Poppins', sans-serif;
                                white-space: nowrap;
                            }
                        }

                        .last-message {
                            width: 100%;
                            white-space: nowrap;
                            overflow: hidden;
                            font-size: 0.9rem;
                            font-weight: 300;
                        }

                        .message-alert {
                            margin-left: auto;
                            font-size: 13px;
                            font-family: 'Poppins', sans-serif;
                            font-weight: 400;
                            background-color: #31a73d;
                            color: #ffffff;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            width: 22px;
                            height: 22px;
                            justify-content: center;
                        }
                    }
                }
            }
        }

        .chatbot-body {
            display: flex;
            flex-direction: column;
            width: 100%;

            .chatbot-body-header {
                width: 100%;
                padding: 10px 10px 10px 10px;
                border-bottom: 1px solid var(--primary-light-border);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 16px;

                .contact-menu-button {
                    font-size: 1.8rem;
                }

                h5 {
                    flex-grow: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 300;
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.1rem;
                    padding-top: 2px;
                }

                .chatbot-shortcuts {
                    outline: transparent;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 16px;
                    position: relative;

                    .chatbot-user-menu.active {
                        display: flex;
                    }

                    .chatbot-user-menu {
                        display: none;
                        flex-direction: column;
                        z-index: 1;
                        position: absolute;
                        right: 80%;
                        top: calc(14px + 1.2rem);
                        animation: fade-in 0.1s ease-in-out forwards;

                        ul {
                            background-color: var(--primary-bg-color);
                            overflow: hidden;
                            border-radius: 10px;
                            border: 1px solid var(--primary-light-border);

                            li {
                                padding: 10px 24px 10px 10px;
                                cursor: pointer;
                                border-bottom: 1px solid var(--primary-light-border);
                                white-space: nowrap;
                                font-size: 1.2rem;
                                font-weight: 300;

                                &:last-of-type {
                                    border-bottom: unset;
                                }

                                &:hover {
                                    background-color: rgba(0, 0, 0, 0.05);
                                }
                            }
                        }
                    }

                    .fullscreen-button {
                        display: none;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .message-box {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                overflow: hidden;
                font-size: 1.1rem;
                font-weight: 300;
                flex-grow: 1;

                .messages {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 14px 10px;
                    overflow-y: auto;
                    overscroll-behavior: none;

                    .show-all-messages {
                        align-self: center;
                        border-radius: 4px;
                        padding: 4px 20px;
                        border: 1px solid var(--button-white-border);
                        background-color: var(--button-white);
                        font-size: 0.9rem;
                        font-family: 'Fira Sans', sans-serif;
                        font-weight: 300;
                        transition: all 0.1s ease-in-out;

                        &:hover {
                            color: #ffffff;
                            border: 1px solid var(--button4-1);
                            background-color: var(--button4-1);
                        }
                    }

                    .no-thread-selected,
                    .empty-thread {
                        padding: 80px 0;
                        text-align: center;
                        font-size: 1.2rem;
                    }

                    @keyframes new-message {
                        from {
                            transform: translateY(100%);
                        }

                        to {
                            transform: translateY(0%);
                        }
                    }

                    .message-item {
                        display: flex;
                        max-width: 90%;
                        border: 1px solid rgba(0, 0, 0, 0.05);
                        flex-direction: row;
                        align-items: flex-end;
                        position: relative;

                        p {
                            display: inline;
                            padding: 8px;
                        }

                        .message-date {
                            padding: 0 6px 2px 2px;
                            font-size: 0.9rem;
                            opacity: 0.7;
                        }

                        &::before {
                            //content: "";
                            z-index: 1;
                            border-bottom: none;
                            border-top: none;
                            border-left: 2px solid transparent;
                            display: block;
                            border-radius: 50%;
                            position: absolute;
                            bottom: 0;
                            width: 4px;
                            height: 9px;
                        }
                    }

                    .message-item.animate-new {
                        animation: new-message 0.2s ease-in-out forwards;
                    }

                    .message-item.receiver {
                        border-radius: 0 10px 10px 10px;
                        align-self: flex-start;
                        background-color: var(--chatbot-receiver);

                        &::before {
                            left: -8px;
                            border-right: 4px solid rgba(0, 0, 0, 0.1);
                            transform: rotate(20deg);
                        }
                    }

                    .message-item.you {
                        border-radius: 10px 10px 0 10px;
                        align-self: flex-end;
                        background-color: var(--chatbot-you);

                        &::before {
                            right: -8px;
                            transform: rotate(154deg);
                            border-right: 4px solid #d1e9d0;
                        }
                    }
                }
            }

            .send-message-container {
                //margin-top: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 8px 12px 16px;
                gap: 10px;
                -webkit-box-shadow: 0px 0px 16px -10px rgba(0, 0, 0, 0.4);
                -moz-box-shadow: 0px 0px 16px -10px rgba(0, 0, 0, 0.4);
                box-shadow: 0px 0px 16px -10px rgba(0, 0, 0, 0.4);

                .message-input {
                    outline: transparent;
                    font-size: 1.2rem;
                    font-weight: 300;
                    font-family: 'Fira sans', sans-serif;
                    padding: 10px;
                    border-radius: 10px;
                    border: 1px solid var(--primary-light-border);
                    width: 100%;
                    resize: vertical;
                }

                .send {
                    padding: 11px 11px 8px 8px;
                    border-radius: 50%;
                    display: flex;
                    color: #ffffff;
                    background-color: var(--button2-1);
                    transition: background-color 0.1s ease-in-out;

                    &:hover {
                        background-color: var(--button2-2);
                    }
                }
            }
        }
    }
}





//-----------------------------------------------------------


header>.header-container {
    height: 60px;
    width: 100%;
    padding: 0 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //border-bottom: 1px solid var(--button-white-border);

    .site-logo-wrapper {
        order: 0;

        span {
            font-family: 'Cinzel', serif;
            font-size: 2rem;
            padding-top: 4px;
            display: none;
        }

        span.m {
            display: block;
        }

        .open-chatbot-button {
            all: unset;
            display: flex;
            font-size: 2rem;
            padding: 6px;
        }
    }

    .search-bar {
        order: 1;
        flex-grow: 1;
        padding: 0 20px;
        transition: all 0.1s ease-in-out;
        position: relative;

        input {
            transition: width 0.1s ease-in-out;
            width: 96%;
            max-width: 600px;
            font-size: 1.2rem;
            padding: 8px 10px;
            border: 1px solid var(--button-white-border);
            border-radius: 4px;
            font-family: 'Fira Sans', sans-serif;
            font-weight: 300;

            &:focus~.search-recommendations {
                display: block;
            }
        }

        .search-recommendations {
            padding: 0 20px;
            display: none;
            width: 100%;
            position: absolute;
            right: 0;
            left: 0;
            z-index: 199;

            ul {
                width: 96%;
                animation: fade-in 0.1s ease-in-out forwards;
                padding-top: 10px;
                max-width: 600px;
                background-color: var(--primary-bg-color);
                -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
                border-radius: 4px 4px 8px 8px;
                overflow: hidden;

                li {
                    width: 100%;

                    a {
                        width: 100%;
                        padding: 10px 10px;
                        transition: background-color 0.1s ease-in-out;
                        cursor: pointer;
                        font-size: 1.1rem;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.05);
                        }
                    }
                }
            }
        }
    }

    .drawer-button {
        all: unset;
        order: 2;
        display: flex;
        font-size: 2.6rem;
    }

    .user-container {
        order: 3;
        display: none;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        position: relative;

        .shortcut-wrapper {
            display: flex;
            flex-direction: row;
            gap: 12px;
            align-items: center;

            .shortcut-button {
                all: unset;
                display: flex;
                font-size: 1.4rem;
                cursor: pointer;
                //transition: transform 0.1s ease-in-out;
                padding: 6px;

                &:hover {
                    transform: scale(1.05);
                }
            }

            .notification-wrapper {
                position: relative;

                .notification-container.active {
                    display: flex;
                }

                .notification-container {
                    display: none;
                    position: absolute;
                    top: 36px;
                    right: 0;
                    min-width: 400px;
                    max-width: 30vw;
                    max-height: 300px;
                    flex-direction: column;
                    z-index: 195;
                    background-color: var(--primary-bg-color);
                    border: 1px solid var(--primary-light-border);
                    border-radius: 10px;
                    overflow-y: auto;
                    overscroll-behavior: none;
                    -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
                    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);

                    .notification-box-header {
                        font-size: 1.3rem;
                        font-weight: 500;
                        font-family: 'Poppins', sans-serif;
                        padding: 13px 10px 10px;
                        border-bottom: 1px solid var(--primary-light-border);
                    }

                    .notification-item {
                        display: flex;
                        flex-direction: row;
                        cursor: pointer;
                        padding-right: 28px;

                        &:hover {
                            background-color: rgba(192, 203, 255, 0.1);
                        }

                        &:last-child .notification-details {
                            border-bottom: unset;
                        }

                        .unread {
                            opacity: 0;
                            border-radius: 50%;
                            background-color: #b669fb;
                            height: 8px;
                            width: 8px;
                            flex-shrink: 0;
                            margin: 15px 10px 0 10px;
                        }

                        .unread.active {
                            opacity: 1;
                        }

                        .notification-details {
                            display: flex;
                            flex-direction: column;
                            gap: 2px;
                            padding: 6px 0 10px;
                            border-bottom: 1px solid var(--primary-light-border);

                            h4 {
                                font-size: 1rem;
                                font-weight: 400;
                                font-family: 'Poppins', sans-serif;
                                max-height: 36px;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 2;
                                text-overflow: ellipsis;
                            }

                            p {
                                font-size: 0.9rem;
                                font-weight: 300;
                                font-family: 'Fira sans', sans-serif;
                                max-height: 80px;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 3;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }

        .user-menu-button {
            all: unset;
            cursor: pointer;
            overflow: hidden;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            outline: 2px solid #a6cfed;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .user-menu.active {
            display: flex;
        }

        @keyframes show-user-menu {
            from {
                opacity: 0;
                top: 60px;
            }
        }

        @keyframes slide-user-menu-before {
            from {
                width: 0px;
                right: 20px;
            }
        }

        .user-menu {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 40px;
            right: 0;
            border-radius: 8px 0 8px 8px;
            background-color: var(--primary-bg-color);
            -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
            z-index: 197;
            animation: show-user-menu 0.2s ease-in-out forwards;
            overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 36px;
                height: 6px;
                background-color: #31a73d;
                animation: slide-user-menu-before 0.2s ease-in-out forwards;
            }

            .user-menu-close {
                position: absolute;
                top: 10px;
                right: 0;
                width: 36px;
                display: flex;
                justify-content: center;
                display: none;

                button {
                    padding: 4px;
                    border-radius: 50%;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    font-size: 0.7rem;
                    display: flex;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            .um-profile {
                padding: 16px 16px 12px;
                border-bottom: 1px solid var(--primary-light-border);
                display: flex;
                flex-direction: column;
                gap: 4px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                }

                .um-username {
                    font-size: 1rem;
                    font-weight: 400;
                    margin-right: 40px;
                }

                .um-email {
                    font-size: 0.9rem;
                    font-weight: 300;
                    opacity: 0.8;
                }
            }

            .user-menu-list {
                li {
                    border-bottom: 1px solid var(--primary-light-border);

                    a {
                        padding: 10px;
                        text-align: center;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.03);
                        }
                    }
                }
            }

            .sign-out-button {
                margin: 28px 20px 14px;
                align-self: center;
                padding: 4px 14px;
                font-size: 0.8rem;
                font-weight: 300;
                border-radius: 18px;
                color: #ffffff;
                background-color: var(--button3-1);
                transition: background-color 0.1s ease-in-out;
                font-family: 'Poppins', sans-serif;

                &:hover {
                    background-color: var(--button3-2);
                }
            }
        }

        .user-auth-buttons {
            display: flex;
            flex-direction: row;

            .signin-button {
                cursor: pointer;
                padding: 5px 14px;
                font-size: 1.1rem;
                border-radius: 20px 0 0 20px;
                font-family: 'Fira Sans', sans-serif;
                font-weight: 300;

                border: 1px solid var(--button-white-border);
                border-right: 1px solid transparent;
                background-color: var(--button-white);
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: #ffffff;
                    background-color: var(--button1-1);
                    border: 1px solid var(--button1-1);

                    +.signup-button {
                        border-left: 1px solid transparent;
                    }
                }
            }

            .signup-button {
                cursor: pointer;
                display: flex;
                font-size: 1.3rem;
                border-radius: 0 20px 20px 0;
                align-items: center;
                justify-content: center;
                padding: 5px 14px;

                border: 1px solid var(--button-white-border);
                background-color: var(--button-white);
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: #ffffff;
                    background-color: var(--button2-2);
                    border: 1px solid var(--button2-2);
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    min-height: 500px; // TEMP

    .breadcrumb-trail-container {
        align-self: flex-start;
        padding: 20px 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 1.1rem;
        color: #8c8c8c;

        span {
            svg {
                display: flex;
            }
        }

        a {
            border-radius: 20px;

            &:hover {
                background-color: #ededed;
            }
        }
    }
}

footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-color: #424242;

    h1 {
        font-family: 'Cinzel', serif;
        font-size: 3rem;
        margin: 40px 0 40px;
        text-align: center;
    }

    h5 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
        font-weight: 300;
        margin-bottom: 40px;
        text-align: center;
    }

    .copyright {
        align-self: center;
        padding: 0 30px;

        p {
            border-top: 1px solid #d9d9d9;
            padding: 20px 2%;
            font-family: 'Poppins', sans-serif;
            font-size: 1.1rem;
            font-weight: 300;
            text-align: center;
        }
    }
}

.page-not-found {
    margin-top: 20vh;
    display: grid;
    place-items: center;
    text-align: center;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1 {
            font-size: 2.6rem;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
        }

        p {
            font-size: 1.1rem;
            font-weight: 300;
        }
    }
}

// Most phones
@media (min-width: 340px) {
    .notification-modal-container .notification-modal {
        max-width: 320px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .admin-modal-container .admin-modal {
        max-width: 360px;
    }

    .auth-modal-container .auth-modal {
        max-width: 360px;
    }

    .notification-modal-container .notification-modal {
        max-width: 360px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    :root {
        --site-padding: 0 5%;
    }

    html {
        font-size: 16px;
    }

    .chatbot-container {
        align-items: flex-end;
        justify-content: flex-end;

        .chatbot.fullscreen {
            height: 100%;
            width: 100%;
            margin-right: unset;
            border-radius: unset;
            -webkit-box-shadow: unset;
            -moz-box-shadow: unset;
            box-shadow: unset;

            .chatbot-menu {
                width: 30%;
            }

            .chatbot-body {
                width: 70%;
            }
        }

        .chatbot {
            width: unset;
            margin-right: 20px;
            height: 94%;
            border-radius: 12px 12px 0 0;
            -webkit-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.3);

            .chatbot-menu {
                width: 260px;
                position: unset;
                transform: unset;

                .chatbot-menu-header {
                    .chatbot-add-user {
                        svg {
                            transform: translateX(300%);
                            width: 0;
                            transition: all 0.1s ease-in-out;
                            margin-left: unset;
                        }

                        &:hover svg {
                            margin-left: 7px;
                            width: 1.1rem;
                            transform: unset;
                        }
                    }

                    .chatbot-shortcut-button {
                        display: none;
                    }
                }
            }

            .chatbot-body {
                width: 440px;

                .chatbot-body-header {
                    gap: 16px;

                    .contact-menu-button {
                        display: none;
                    }

                    .chatbot-shortcuts {
                        gap: 16px;

                        .fullscreen-button {
                            display: flex;
                        }
                    }
                }
            }
        }
    }

    .information-modal-container {
        .information-modal {
            max-width: 500px;
        }
    }

    .admin-modal-container .admin-modal {
        max-width: 500px;
    }

    .auth-modal-container .auth-modal {
        max-width: 500px;

        .oauth-legal-note {
            br {
                display: block;
            }
        }
    }

    .notification-modal-container .notification-modal {
        max-width: 600px;
    }

    header>.header-container {
        height: 80px;
        padding: 0 5%;

        .site-logo-wrapper {

            .open-chatbot-button,
            span.m {
                display: none;
            }

            span.d {
                display: block;
            }
        }

        .drawer-button {
            display: none;
        }

        .user-container {
            display: flex;
        }
    }

    main .breadcrumb-trail-container a {
        padding: 5px 12px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .chatbot-container .chatbot {
        margin-right: 30px;
        height: 80%;

        .chatbot-menu {
            width: 300px;
        }

        .chatbot-body {
            width: 600px;
        }
    }

    header>.header-container .user-container .shortcut-wrapper .notification-wrapper .notification-container {
        max-height: 400px;

        .notification-item .notification-details {
            h4 {
                font-size: 1.1rem;
            }

            p {
                font-size: 1rem;
                max-height: 90px;
            }
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    header>.header-container {
        .user-container {
            .user-auth-buttons {
                .signin-button {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}




// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    header>.header-container>.search-bar:focus-within {
        padding: 0;

        ~.site-logo-wrapper {
            display: none;
        }

        ~.drawer-button {
            display: none;
        }

        input {
            width: 100%;
        }

        .search-recommendations {
            padding: 0;

            ul {
                width: 100%;
            }
        }
    }
}