// Settings
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
li,
p {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: unset;
}

:root {
    --site-padding: 0 4%;
}

// Colors
html[data-colorset-1] {
    --primary-color: #303030;
    --primary-bg-color: #ffffff;

    --button1-border-hover: #5997cd;
    --button1-bg-hover: #5997cd;
    --button2-bg: #589b49;
    --button2-bg-hover: #5eb64a;
}




// Template
html {
    font-size: 14px;
}

body {
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

.page-content {
    display: flex;
    flex-direction: column;
}

header>.header-container {
    height: 60px;
    width: 100%;
    padding: 0 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    //border-bottom: 1px solid var(--primary-color);

    .site-logo-wrapper {

        span {
            font-family: 'Cinzel', serif;
            font-size: 2rem;
            padding-top: 4px;
            display: none;

            b {
                color: #307fca;
            }
        }

        span.m {
            display: block;
        }
    }

    .search-bar {
        flex-grow: 1;
        padding: 0 20px;

        input {
            width: 96%;
            max-width: 600px;
            font-size: 1.2rem;
            padding: 8px 10px;
            border: 1px solid var(--primary-color);
            border-radius: 4px;
            font-family: 'Fira Sans', sans-serif;
            font-weight: 300;
        }
    }

    .drawer-button {
        all: unset;
        display: flex;
        font-size: 2.6rem;
    }

    .user-container {
        display: none;
        flex-direction: row;
        gap: 20px;
        align-items: center;

        .shortcut-wrapper {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;

            button {
                all: unset;
                display: flex;
                font-size: 2rem;
                cursor: pointer;
                //transition: transform 0.1s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }


        @keyframes show-signup-button {
            from {
                padding: 0;
                width: 0;
            }

            to {
                width: calc(1.1rem + 28px);
            }
        }

        @keyframes hide-signup-button {
            from {
                display: flex;
                width: calc(1.1rem + 28px);
            }

            to {
                padding: 0;
                width: 0;
                display: none;
            }
        }

        .user-auth-buttons {
            display: flex;
            flex-direction: row;

            border-radius: 20px;
            overflow: hidden;
            background-color: var(--primary-bg-color);
            border: 1px solid var(--primary-color);
            transition: all 0.2s ease-in-out;

            &:hover {
                border: unset;

                .signin-button {
                    border: 1px solid var(--primary-color);
                }

                .signup-button {
                    display: flex;
                    border: 1px solid var(--primary-color);
                }
            }

            &:not(:hover) {
                .signup-button {
                    animation: hide-signup-button 0.2s forwards;
                }
            }

            .signin-button {
                cursor: pointer;
                border: unset;
                padding: 5px 14px;
                font-size: 1.1rem;
                border-radius: 20px 0 0 20px;
                font-family: 'Fira Sans', sans-serif;
                font-weight: 300;
                border-right: unset !important;
                background-color: var(--primary-bg-color);
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: #ffffff;
                    background-color: var(--button1-bg-hover);
                    border: 1px solid var(--button1-bg-hover);
                }
            }

            .signup-button {
                cursor: pointer;
                border: unset;
                display: none;
                font-size: 1.1rem;
                border-radius: 0 20px 20px 0;
                align-items: center;
                justify-content: center;
                border-left: unset !important;

                padding: 0 14px;
                width: calc(1.1rem + 28px); // Guarantee same width with animation
                animation: show-signup-button 0.3s forwards;

                background-color: var(--primary-bg-color);
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: #ffffff;
                    background-color: var(--button2-bg-hover);
                    border: 1px solid var(--button2-bg-hover);
                }
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    min-height: 500px; // TEMP

    .breadcrumb-trail-container {
        align-self: flex-start;
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 1.1rem;
        color: #8c8c8c;

        span {
            svg {
                display: flex;
            }
        }

        a {
            padding: 5px 12px;
            border-radius: 20px;

            &:hover {
                background-color: #ededed;
            }
        }
    }
}

footer {
    margin-top: 200px;
    height: 400px;
    background-color: #424242;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    header>.header-container {
        height: 80px;
        padding: 0 5%;

        .site-logo-wrapper {
            span.m {
                display: none;
            }

            span.d {
                display: block;
            }
        }

        .drawer-button {
            display: none;
        }

        .user-container {
            display: flex;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    header>.header-container {
        .user-container {
            .user-auth-buttons {
                .signin-button {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}