* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
button {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button,
input[type=submit],
input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
ol,
li,
p {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: unset;
  list-style-type: none;
}

:root {
  --site-padding: 0 4%;
}

html[data-colorset-1] {
  --primary-color: #303030;
  --primary-bg-color: #ffffff;
  --button-white: #ffffff;
  --button-white-border: #303030;
  --button1-1: #5997cd;
  --button1-2: #0389ff;
  --button2-1: #589b49;
  --button2-2: #5eb64a;
  --button3-1: #e05353;
  --button3-2: #d12e2e;
  --button4-1: #636363;
  --link-color: #307fca;
}

html {
  font-size: 14px;
}

body {
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}
body button,
body input,
body select {
  color: var(--primary-color);
}

.page-content {
  display: flex;
  flex-direction: column;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.select2.list-active .s2-chosen {
  border: 1px solid var(--button1-2);
}
.select2.list-active .option-container {
  display: flex;
}

.select2 {
  position: relative;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.select2 .s2-chosen {
  width: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  padding: 0 12px;
  border-radius: 6px;
  background-color: var(--button-white);
  border: 1px solid var(--button4-1);
  height: 2.4rem;
}
.select2 .option-container {
  display: none;
  width: 100%;
  position: absolute;
  top: 2.7rem;
  left: 0;
  right: 0;
  border-radius: 6px;
  background-color: var(--button-white);
  border: 1px solid var(--button4-1);
  flex-direction: column;
  z-index: 201;
}
.select2 .option-container .option-search-container {
  position: relative;
  margin: 10px 8px;
}
.select2 .option-container .option-search-container .option-search {
  outline: transparent;
  width: 100%;
  padding: 8px calc(20px + 1.1rem) 8px 12px;
  font-size: 1.1rem;
  border-radius: 6px;
  background-color: var(--button-white);
  border: 1px solid var(--button4-1);
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}
.select2 .option-container .option-search-container .option-search:focus {
  border: 1px solid var(--button1-2);
}
.select2 .option-container .option-search-container svg {
  position: absolute;
  right: 12px;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1rem;
}
.select2 .option-container .option-list {
  overflow-y: auto;
  max-height: 140px;
  padding-bottom: 10px;
}
.select2 .option-container .option-list li {
  padding: 7px 12px;
  cursor: pointer;
}
.select2 .option-container .option-list li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.modal-container {
  z-index: 200;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: none;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}
.modal-container .close-modal-button {
  all: unset;
  display: flex;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 1rem;
}
.modal-container .close-modal-button:hover {
  box-shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.3);
}

.modal-container.active {
  display: flex;
}

.auth-modal-container {
  padding-top: 20vh;
  padding-bottom: 16px;
}
.auth-modal-container .auth-modal {
  opacity: 1;
  animation: fade-in 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 24px 20px;
  background-color: var(--primary-bg-color);
  position: relative;
  border-radius: 10px;
  max-width: 260px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
}
.auth-modal-container .auth-modal .auth-tab-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 16px;
}
.auth-modal-container .auth-modal .auth-tab-buttons > span {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px 10px 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  position: relative;
}
@keyframes inactive-login-tab-hover {
  0% {
    width: 0px;
  }
  100% {
    width: 16px;
  }
}
@keyframes inactive-login-tab-unhover {
  0% {
    width: 16px;
  }
  100% {
    width: 0px;
  }
}
.auth-modal-container .auth-modal .auth-tab-buttons > span.inactive::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #424242;
  margin: 0 auto;
  height: 1px;
  width: 16px;
  animation: inactive-login-tab-unhover 0.1s ease-in-out forwards;
}
.auth-modal-container .auth-modal .auth-tab-buttons > span.inactive:hover::before {
  animation: inactive-login-tab-hover 0.1s ease-in-out forwards;
}
@keyframes login-tab-active {
  0% {
    width: 20px;
  }
  100% {
    width: 100%;
  }
}
.auth-modal-container .auth-modal .auth-tab-buttons > span.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #424242;
  margin: 0 auto;
  height: 1px;
  width: 100%;
  animation: login-tab-active 0.1s ease-in-out;
}
.auth-modal-container .auth-modal .login-form.active,
.auth-modal-container .auth-modal .register-form.active {
  display: flex;
}
.auth-modal-container .auth-modal .login-form,
.auth-modal-container .auth-modal .register-form {
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 14px;
  animation: fade-in 0.1s ease-in-out forwards;
}
.auth-modal-container .auth-modal .login-form .form-input,
.auth-modal-container .auth-modal .register-form .form-input {
  font-size: 1.1rem;
  padding: 10px 12px 8px;
  border-radius: 6px;
  font-family: "Fira Sans", sans-serif;
  border: 1px solid var(--button-white-border);
}
.auth-modal-container .auth-modal .login-form .login-button-container,
.auth-modal-container .auth-modal .login-form .register-button-container,
.auth-modal-container .auth-modal .register-form .login-button-container,
.auth-modal-container .auth-modal .register-form .register-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.auth-modal-container .auth-modal .login-form .login-button-container .submit-button,
.auth-modal-container .auth-modal .login-form .register-button-container .submit-button,
.auth-modal-container .auth-modal .register-form .login-button-container .submit-button,
.auth-modal-container .auth-modal .register-form .register-button-container .submit-button {
  border-radius: 20px;
  padding: 6px 30px;
  border: 1px solid var(--button-white-border);
  background-color: var(--button-white);
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  transition: all 0.1s ease-in-out;
}
.auth-modal-container .auth-modal .login-form .login-button-container .submit-button:hover,
.auth-modal-container .auth-modal .login-form .register-button-container .submit-button:hover,
.auth-modal-container .auth-modal .register-form .login-button-container .submit-button:hover,
.auth-modal-container .auth-modal .register-form .register-button-container .submit-button:hover {
  color: #ffffff;
  border: 1px solid var(--button2-2);
  background-color: var(--button2-2);
}
.auth-modal-container .auth-modal .login-form .login-button-container a,
.auth-modal-container .auth-modal .login-form .register-button-container a,
.auth-modal-container .auth-modal .register-form .login-button-container a,
.auth-modal-container .auth-modal .register-form .register-button-container a {
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--link-color);
}
.auth-modal-container .auth-modal .login-form .login-button-container a:hover,
.auth-modal-container .auth-modal .login-form .register-button-container a:hover,
.auth-modal-container .auth-modal .register-form .login-button-container a:hover,
.auth-modal-container .auth-modal .register-form .register-button-container a:hover {
  text-decoration: underline;
}
.auth-modal-container .auth-modal .login-form .register-button-container,
.auth-modal-container .auth-modal .register-form .register-button-container {
  justify-content: center;
}
.auth-modal-container .auth-modal .warning-text,
.auth-modal-container .auth-modal .success-text {
  margin-bottom: 14px;
  min-width: 100%;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
}
.auth-modal-container .auth-modal .warning-text {
  font-weight: 300;
  color: #d12e2e;
}
.auth-modal-container .auth-modal .success-text {
  color: #34c532;
}
.auth-modal-container .auth-modal .or-seperator {
  margin-bottom: 14px;
}
.auth-modal-container .auth-modal .google-button-temp {
  border-radius: 20px;
  padding: 6px 20px;
  border: 1px solid var(--button-white-border);
  background-color: var(--button-white);
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  transition: all 0.1s ease-in-out;
  margin-bottom: 14px;
}
.auth-modal-container .auth-modal .google-button-temp:hover {
  color: #ffffff;
  border: 1px solid var(--button1-1);
  background-color: var(--button1-1);
}
.auth-modal-container .auth-modal .line-seperator {
  width: 90%;
  border-bottom: 1px solid #b4b4b4;
  margin-bottom: 14px;
}
.auth-modal-container .auth-modal .signup-instead {
  font-weight: 300;
}
.auth-modal-container .auth-modal .signup-instead a {
  margin-left: 4px;
  color: var(--link-color);
}
.auth-modal-container .auth-modal .signup-instead a:hover {
  text-decoration: underline;
}

.drawer-container.active {
  display: block;
}

.drawer-container {
  display: none;
  z-index: 198;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  overflow: hidden;
}
@keyframes slide-drawer {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.drawer-container .drawer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 70%;
  animation: slide-drawer 0.2s ease-in-out;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
  text-align: right;
}
.drawer-container .drawer .drawer-site-logo {
  padding: 10px 6px 10px;
  margin: 20px 0 24px;
  font-size: 2rem;
  text-align: center;
  font-family: "Cinzel", serif;
}
.drawer-container .drawer .drawer-list {
  display: flex;
  flex-direction: column;
}
.drawer-container .drawer .drawer-list > a {
  font-size: 1.6rem;
  padding: 12px 20px;
  border-top: 1px solid #dddddd;
}
.drawer-container .drawer .drawer-list > a:last-child {
  border-bottom: 1px solid #dddddd;
}
.drawer-container .drawer .drawer-list > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

header > .header-container {
  height: 60px;
  width: 100%;
  padding: 0 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header > .header-container .site-logo-wrapper {
  order: 0;
}
header > .header-container .site-logo-wrapper span {
  font-family: "Cinzel", serif;
  font-size: 2rem;
  padding-top: 4px;
  display: none;
}
header > .header-container .site-logo-wrapper span b {
  color: #307fca;
}
header > .header-container .site-logo-wrapper span.m {
  display: block;
}
header > .header-container .search-bar {
  order: 1;
  flex-grow: 1;
  padding: 0 20px;
  transition: all 0.1s ease-in-out;
  position: relative;
}
header > .header-container .search-bar input {
  transition: width 0.1s ease-in-out;
  width: 96%;
  max-width: 600px;
  font-size: 1.2rem;
  padding: 8px 10px;
  border: 1px solid var(--button-white-border);
  border-radius: 4px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}
header > .header-container .search-bar input:focus ~ .search-recommendations {
  display: block;
}
header > .header-container .search-bar .search-recommendations {
  padding: 0 20px;
  display: none;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 199;
}
header > .header-container .search-bar .search-recommendations ul {
  width: 96%;
  animation: fade-in 0.1s ease-in-out forwards;
  padding-top: 10px;
  max-width: 600px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 8px 8px;
  overflow: hidden;
}
header > .header-container .search-bar .search-recommendations ul li {
  width: 100%;
  padding: 8px 10px;
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;
  font-size: 1.1rem;
}
header > .header-container .search-bar .search-recommendations ul li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
header > .header-container .drawer-button {
  all: unset;
  order: 2;
  display: flex;
  font-size: 2.6rem;
}
header > .header-container .user-container {
  order: 3;
  display: none;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  position: relative;
}
header > .header-container .user-container .shortcut-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
header > .header-container .user-container .shortcut-wrapper button {
  all: unset;
  display: flex;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 6px;
}
header > .header-container .user-container .shortcut-wrapper button:hover {
  transform: scale(1.05);
}
header > .header-container .user-container .user-menu-button {
  all: unset;
  cursor: pointer;
  overflow: hidden;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
header > .header-container .user-container .user-menu-button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header > .header-container .user-container .user-menu.active {
  display: flex;
}
@keyframes show-user-menu {
  from {
    opacity: 0;
    top: 60px;
  }
}
@keyframes slide-user-menu-before {
  from {
    width: 0px;
    right: 20px;
  }
}
header > .header-container .user-container .user-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  min-height: 300px;
  border-radius: 8px 0 8px 8px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
  z-index: 197;
  animation: show-user-menu 0.2s ease-in-out forwards;
  overflow: hidden;
}
header > .header-container .user-container .user-menu::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 6px;
  background-color: #31a73d;
  animation: slide-user-menu-before 0.2s ease-in-out forwards;
}
header > .header-container .user-container .user-menu .user-menu-close {
  position: absolute;
  top: 10px;
  right: 0;
  width: 36px;
  display: flex;
  justify-content: center;
}
header > .header-container .user-container .user-menu .user-menu-close button {
  padding: 4px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 0.7rem;
  display: flex;
}
header > .header-container .user-container .user-menu .user-menu-close button:hover {
  transform: scale(1.05);
}
header > .header-container .user-container .user-menu .um-username {
  padding: 12px 46px 10px 14px;
}
header > .header-container .user-container .user-menu .sign-out-button {
  margin: auto 20px 14px;
  align-self: center;
  padding: 4px 14px;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 18px;
  color: #ffffff;
  background-color: var(--button3-1);
  transition: background-color 0.1s ease-in-out;
  font-family: "Poppins", sans-serif;
}
header > .header-container .user-container .user-menu .sign-out-button:hover {
  background-color: var(--button3-2);
}
header > .header-container .user-container .user-auth-buttons {
  display: flex;
  flex-direction: row;
}
header > .header-container .user-container .user-auth-buttons .signin-button {
  cursor: pointer;
  padding: 5px 14px;
  font-size: 1.1rem;
  border-radius: 20px 0 0 20px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  border: 1px solid var(--button-white-border);
  border-right: 1px solid transparent;
  background-color: var(--button-white);
  transition: all 0.2s ease-in-out;
}
header > .header-container .user-container .user-auth-buttons .signin-button:hover {
  color: #ffffff;
  background-color: var(--button1-1);
  border: 1px solid var(--button1-1);
}
header > .header-container .user-container .user-auth-buttons .signin-button:hover + .signup-button {
  border-left: 1px solid transparent;
}
header > .header-container .user-container .user-auth-buttons .signup-button {
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  border-radius: 0 20px 20px 0;
  align-items: center;
  justify-content: center;
  padding: 5px 14px;
  border: 1px solid var(--button-white-border);
  background-color: var(--button-white);
  transition: all 0.2s ease-in-out;
}
header > .header-container .user-container .user-auth-buttons .signup-button:hover {
  color: #ffffff;
  background-color: var(--button2-2);
  border: 1px solid var(--button2-2);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}
main .breadcrumb-trail-container {
  align-self: flex-start;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1.1rem;
  color: #8c8c8c;
}
main .breadcrumb-trail-container span svg {
  display: flex;
}
main .breadcrumb-trail-container a {
  padding: 5px 12px;
  border-radius: 20px;
}
main .breadcrumb-trail-container a:hover {
  background-color: #ededed;
}

footer {
  margin-top: 200px;
  height: 400px;
  background-color: #424242;
}

@media (min-width: 576px) {
  .auth-modal-container .auth-modal {
    max-width: 360px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .auth-modal-container {
    padding-top: 10vh;
  }
  .auth-modal-container .auth-modal {
    max-width: 500px;
  }
  header > .header-container {
    height: 80px;
    padding: 0 5%;
  }
  header > .header-container .site-logo-wrapper span.m {
    display: none;
  }
  header > .header-container .site-logo-wrapper span.d {
    display: block;
  }
  header > .header-container .drawer-button {
    display: none;
  }
  header > .header-container .user-container {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .auth-modal-container {
    padding-top: 20vh;
  }
  header > .header-container .user-container .user-auth-buttons .signin-button {
    font-size: 1.2rem;
  }
}
@media (max-width: 767.98px) {
  header > .header-container > .search-bar:focus-within {
    padding: 0;
  }
  header > .header-container > .search-bar:focus-within ~ .site-logo-wrapper {
    display: none;
  }
  header > .header-container > .search-bar:focus-within ~ .drawer-button {
    display: none;
  }
  header > .header-container > .search-bar:focus-within input {
    width: 100%;
  }
  header > .header-container > .search-bar:focus-within .search-recommendations {
    padding: 0;
  }
  header > .header-container > .search-bar:focus-within .search-recommendations ul {
    width: 100%;
  }
}/*# sourceMappingURL=global.css.map */