// Colors
html[data-colorset-1] {}



.index-page {
    display: flex;
    flex-direction: column;
    padding: var(--site-padding);

    .intro {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin: 30px 0 45px;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        gap: 10%;

        .intro-content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            position: relative;

            /*&:before {
                background-image: url(../paint2.png);
                background-position: 20% 20%;
                background-size: contain;
                background-repeat: no-repeat;
                content: "";
                opacity: 0.6;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: -1;
            }*/

            h2 {
                font-size: 1.4em;
                margin-bottom: 16px;
                font-weight: 400;
            }

            p {
                font-size: 1em;
                margin-bottom: 20px;
                font-weight: 300;
            }

            .intro-buttons {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }

            button {
                margin-top: auto;
                border: 1px solid var(--button-white-border);
                background-color: var(--button-white);
                border-radius: 20px;
                padding: 7px 20px;
                font-size: 1.1em;
                cursor: pointer;
                font-family: 'Fira Sans', sans-serif;
                font-weight: 300;
                transition: all 0.1s ease-in-out;

                &:hover {
                    color: #ffffff;
                    border: 1px solid var(--button1-1);
                    background-color: var(--button1-1);
                }
            }
        }

        .intro-image {
            flex-shrink: 0;
            display: none;
            max-width: 40%;
            max-height: 300px;
            width: auto;
            height: auto;

            border-top-left-radius: 50% 40%;
            border-top-right-radius: 30% 60%;
            border-bottom-left-radius: 30% 30%;
            border-bottom-right-radius: 50% 40%;
        }
    }

    .category-list-heading-container {
        margin-bottom: 20px;

        h2 {
            padding: 0 16px;
            font-size: 1.8rem;
            font-weight: 500;
        }
    }

    .category-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px 3%;
        align-items: start;


        .category-card {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border-radius: 8px;
            cursor: pointer;
            -webkit-box-shadow: 0px 0px 6px -2px rgb(121, 128, 224, 0.6);
            -moz-box-shadow: 0px 0px 6px -2px rgb(121, 128, 224, 0.6);
            box-shadow: 0px 0px 6px -2px rgb(121, 128, 224, 0.6);
            transition: all 0.1s ease-in-out;

            &:hover {
                /*-webkit-box-shadow: 0px 0px 8px -1px rgb(121, 128, 224, 0.8);
                -moz-box-shadow: 0px 0px 8px -1px rgb(121, 128, 224, 0.8);
                box-shadow: 0px 0px 8px -1px rgb(121, 128, 224, 0.8);*/
                transform: scale(1.03);
            }

            .category-image {
                height: 200px;
                display: flex;
                justify-content: center;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 8px 8px 0 0;
                }
            }

            .category-details {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                padding: 10px;
                gap: 4px;

                .category-title {
                    font-size: 1rem;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 500;
                }

                .category-statistics {
                    margin-left: auto;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 4px;

                    span {
                        font-size: 1rem;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 400;
                    }

                    svg {
                        display: flex;
                        font-size: 1.2rem;
                        color: #18d212;
                    }
                }
            }
        }
    }
}



// Most phones
@media (min-width: 340px) {
    .index-page {
        .category-list {
            grid-template-columns: repeat(2, 1fr);

            .category-card .category-image {

                img {
                    //aspect-ratio: 1.4/1;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .index-page {
        .intro {
            font-size: 18px;
            margin: 40px 0 80px;
            flex-direction: row;

            .intro-image {
                display: flex;
            }
        }

        .category-list-heading-container {
            text-align: left;
        }

        .category-list {
            grid-template-columns: repeat(3, 1fr);

            /*.category-card {
                .category-details {
                }
            }*/
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .index-page {
        .intro {
            font-size: 20px;
        }

        .category-list {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}