.post-page {
    display: flex;
    flex-direction: column;
    padding: var(--site-padding);
    max-width: 1100px;
    width: 100%;
    align-self: center;

    .post-not-found {
        margin-top: 17vh;
        padding: 0 20px;
        display: flex;
        flex-direction: column;

        h2 {
            font-weight: 300;
            font-size: 4rem;
        }

        h4 {
            font-weight: 300;
            font-size: 2rem;
        }
    }

    .breadcrumb-trail-container {
        align-self: unset;
    }

    .admin-settings-container {
        margin-top: 16px;
        padding: 0 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        .post-admin-settings {
            align-self: flex-start;
            border: 1px solid var(--button-white-border);
            background-color: var(--button-white);
            border-radius: 20px;
            padding: 7px 20px;
            font-size: 1.1em;
            cursor: pointer;
            font-family: 'Fira Sans', sans-serif;
            font-weight: 300;
            transition: all 0.1s ease-in-out;

            &:hover {
                color: #ffffff;
                border: 1px solid var(--button1-1);
                background-color: var(--button1-1);
            }
        }
    }

    .title {
        margin-top: 20px;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
    }

    .gallery-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;

        .gallery-no-image {
            height: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 4px;

            >img {
                height: 30px;
                width: 34px;
                opacity: 0.5;
            }
        }

        .gallery-main {
            max-height: 60vh;
            position: relative;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 4px;
            overflow: hidden;

            img.active.gallery-image {
                display: block;
            }

            img.gallery-image {
                display: none;
                width: 100%;
                height: 100%;
                object-fit: contain;
                animation: fade-in 0.1s ease-in-out forwards;
            }
        }

        .thumbnail-carousel-container {

            .thumbnail-carousel {
                width: 100%;
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                padding: 18px 6px;
                overflow-x: auto;
                overflow-y: hidden;

                .thumbnail-wrapper.active {
                    outline: 2px solid #5997cd;

                    .active-sign {
                        width: 12px;
                    }
                }

                .thumbnail-wrapper {
                    flex-shrink: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4px;
                    cursor: pointer;
                    border-radius: 4px;
                    width: 90px;
                    height: 90px;
                    background-color: rgba(0, 0, 0, 0.1);
                    transition: transform 0.1s ease-in-out;
                    position: relative;

                    &:hover {
                        outline: 2px solid #5997cd;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        border-radius: 4px;
                    }

                    .active-sign {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        right: 0;
                        bottom: -10px;
                        width: 0;
                        height: 4px;
                        border-radius: 4px;
                        background-color: #5997cd;
                        transition: width 0.1s ease-in-out;
                    }
                }

                &::-webkit-scrollbar {
                    height: 13px;
                }

                &::-webkit-scrollbar-thumb {
                    height: 13px;
                    border-radius: 10px;
                    border: 4px solid transparent;
                    background-clip: content-box;
                    background-color: #424242;

                    &:hover {
                        background-color: #181818;
                    }
                }

                &::-webkit-scrollbar-track {
                    border-radius: 10px;
                    background-color: #e9e9e9;
                }
            }
        }
    }

    .post-details {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 18px 10px;

        .author-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .ban-warning {
                align-self: center;
                color: #b91e1e;
                font-weight: 400;
                font-size: 1.2rem;
            }

            .author-primary {
                display: flex;
                align-items: center;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 8px;
                }

                .author-name {
                    font-size: 1rem;
                    font-weight: 400;
                    margin-right: 14px;
                    opacity: 0.9;
                }

                .author-actions {
                    display: flex;
                    flex-direction: column;
                    gap: 14px;

                    .message-request,
                    .report-button {
                        border: unset;
                        border-radius: 10px;
                        padding: 4px 10px;
                        font-size: 0.9rem;
                        cursor: pointer;
                        font-family: "Fira Sans", sans-serif;
                        font-weight: 300;
                        transition: all 0.1s ease-in-out;
                    }

                    .message-request {
                        background-color: var(--button-white);
                        border: 1px solid var(--button4-1);

                        &:hover {
                            color: #ffffff;
                            background-color: var(--button4-1);
                        }
                    }

                    .report-button {
                        color: #ffffff;
                        background-color: var(--button3-1);

                        &:hover {
                            background-color: var(--button3-2);
                        }
                    }
                }
            }

            .contact-information {
                font-size: 0.9rem;
                font-weight: 300;
            }
        }

        .post-extra {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .location {
                /*padding: 0 6px;
                font-size: 1.1rem;
                font-weight: 400;
                display: flex;
                align-items: center;
                gap: 14px;
                opacity: 0.8;*/
                
                font-weight: 300;
                display: flex;
                align-items: center;
                gap: 14px;
                padding: 7px 12px;
                border-radius: 10px;
                background-color: var(--button5-1);
                color: #ffffff;
            }

            .date {
                padding: 5px 9px;
                border-radius: 14px;
                background-color: var(--button1-2);
                color: #ffffff;
                font-size: 0.9rem;
                font-weight: 300;
            }
        }
    }

    .post-description {
        margin-top: 30px;
        display: flex;
        flex-direction: column;

        .description-heading {
            margin-bottom: 14px;
            font-weight: 400;
        }

        .description {
            margin-bottom: 14px;
            font-size: 1.1rem;
            font-weight: 300;
            padding: 12px 0;
            border-top: 1px solid var(--primary-light-border);
            overflow: hidden;

            a {
                color: var(--link-color);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .post-page {
        .post-details {
            flex-direction: row;

            .author-container {
                align-items: flex-start;
            }

            .post-extra {
                margin-left: auto;
                align-items: flex-end;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .post-page {

        .title {
            font-size: 2.4rem;
        }

        .gallery-container {
            .gallery-no-image {
                height: 300px;
            }

            .gallery-main {
                height: 500px;
            }

            .thumbnail-carousel-container {
                .thumbnail-carousel {
                    gap: 16px;
                    flex-wrap: wrap;

                    .thumbnail-wrapper {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}