.profile-page {
  display: flex;
  flex-direction: column;
  padding: var(--site-padding);
  gap: 20px 4%;
}
.profile-page .profile-panel {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 30px;
}
.profile-page .profile-panel .personal-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px 20px;
  margin: 0 auto;
}
.profile-page .profile-panel .personal-info-container .user-avatar {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
  outline: 3px solid #a6cfed;
}
.profile-page .profile-panel .personal-info-container .user-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-page .profile-panel .personal-info-container .user-name-email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.profile-page .profile-panel .personal-info-container .user-name-email .name {
  gap: 6px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  white-space: nowrap;
}
.profile-page .profile-panel .personal-info-container .user-name-email .name > span:nth-child(1) {
  font-weight: 400;
  font-size: 1.5rem;
}
.profile-page .profile-panel .personal-info-container .user-name-email .name > span:nth-child(2) {
  font-weight: 300;
  font-size: 0.9rem;
  padding-bottom: 4px;
}
.profile-page .profile-panel .personal-info-container .user-name-email .email {
  font-size: 0.9rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
}
.profile-page .profile-panel .personal-info-container .user-name-email .name,
.profile-page .profile-panel .personal-info-container .user-name-email .email {
  flex-wrap: wrap;
}
.profile-page .profile-panel .personal-info-container .user-name-email .edit-profile {
  margin-top: 2px;
  border-radius: 4px;
  padding: 4px 20px;
  border: 1px solid var(--button-white-border);
  background-color: var(--button-white);
  font-size: 0.9rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  transition: all 0.1s ease-in-out;
}
.profile-page .profile-panel .personal-info-container .user-name-email .edit-profile:hover {
  color: #ffffff;
  border: 1px solid var(--button4-1);
  background-color: var(--button4-1);
}
.profile-page .profile-panel .contact-options.edit-mode ul.contact-information {
  font-size: 1.1rem;
}
.profile-page .profile-panel .contact-options.edit-mode ul.contact-information li {
  margin-bottom: 12px;
}
.profile-page .profile-panel .contact-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin: 0 auto;
}
.profile-page .profile-panel .contact-options .contact-header {
  display: flex;
  gap: 12px;
  align-items: center;
}
.profile-page .profile-panel .contact-options .contact-header h3 {
  font-weight: 300;
  font-size: 1.2rem;
}
.profile-page .profile-panel .contact-options .contact-header .open-contact-edit-mode,
.profile-page .profile-panel .contact-options .contact-header .add-new-contact-option,
.profile-page .profile-panel .contact-options .contact-header .cancel-new-contact-option {
  margin-top: 1px;
  border-radius: 4px;
  padding: 3px 14px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  transition: all 0.1s ease-in-out;
}
.profile-page .profile-panel .contact-options .contact-header .open-contact-edit-mode {
  border: 1px solid var(--button-white-border);
  background-color: var(--button-white);
  font-size: 0.8rem;
}
.profile-page .profile-panel .contact-options .contact-header .open-contact-edit-mode:hover {
  color: #ffffff;
  border: 1px solid var(--button4-1);
  background-color: var(--button4-1);
}
.profile-page .profile-panel .contact-options .contact-header .add-new-contact-option {
  color: #ffffff;
  background-color: var(--button1-1);
  font-size: 1rem;
}
.profile-page .profile-panel .contact-options .contact-header .add-new-contact-option:hover {
  background-color: var(--button1-2);
}
.profile-page .profile-panel .contact-options .contact-header .cancel-new-contact-option {
  color: #ffffff;
  background-color: var(--button3-2);
  font-size: 1rem;
}
.profile-page .profile-panel .contact-options .contact-header .cancel-new-contact-option:hover {
  background-color: var(--button3-1);
}
.profile-page .profile-panel .contact-options .new-contact-option-wrapper.active {
  display: flex;
}
.profile-page .profile-panel .contact-options .new-contact-option-wrapper {
  display: none;
  width: 100%;
  padding: 8px 0;
  flex-direction: column;
  gap: 10px;
}
.profile-page .profile-panel .contact-options .new-contact-option-wrapper input.body {
  padding: 6px 8px;
  border: 1px solid var(--button-white-border);
  border-radius: 4px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}
.profile-page .profile-panel .contact-options .new-contact-option-wrapper .new-contact-footer {
  display: flex;
  gap: 6px;
  justify-content: space-between;
}
.profile-page .profile-panel .contact-options .new-contact-option-wrapper .new-contact-footer select.type {
  padding: 6px 8px;
  border: 1px solid var(--button-white-border);
  border-radius: 4px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
}
.profile-page .profile-panel .contact-options .new-contact-option-wrapper .new-contact-footer button.add-new {
  margin-top: 1px;
  border-radius: 4px;
  padding: 4px 16px;
  font-size: 1rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  transition: all 0.1s ease-in-out;
  color: #ffffff;
  background-color: var(--button2-1);
}
.profile-page .profile-panel .contact-options .new-contact-option-wrapper .new-contact-footer button.add-new:hover {
  background-color: var(--button2-2);
}
.profile-page .profile-panel .contact-options ul.contact-information li {
  font-weight: 300;
}
.profile-page .profile-panel .contact-options ul.contact-information li .remove {
  border-radius: 50%;
  padding: 4px;
  background-color: var(--button3-2);
  color: #ffffff;
  display: inline-flex;
  margin-right: 6px;
  font-size: 0.7em;
}
.profile-page .profile-panel .contact-options ul.contact-information li .remove:hover {
  background-color: var(--button3-1);
}
.profile-page .profile-panel .contact-options ul.contact-information li .body {
  font-size: 0.9em;
}
.profile-page .profile-panel .contact-options ul.contact-information li .type {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}
.profile-page .profile-panel .contact-options .contact-edit-options {
  display: flex;
  gap: 12px;
}
.profile-page .profile-panel .contact-options .contact-edit-options button {
  margin-top: 1px;
  border-radius: 4px;
  padding: 4px 16px;
  font-size: 1rem;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  transition: all 0.1s ease-in-out;
  color: #ffffff;
}
.profile-page .profile-panel .contact-options .contact-edit-options .cancel-edit {
  background-color: var(--button3-2);
}
.profile-page .profile-panel .contact-options .contact-edit-options .cancel-edit:hover {
  background-color: var(--button3-1);
}
.profile-page .profile-panel .contact-options .contact-edit-options .save-edit {
  background-color: var(--button2-1);
}
.profile-page .profile-panel .contact-options .contact-edit-options .save-edit:hover {
  background-color: var(--button2-2);
}
.profile-page .profile-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.profile-page .profile-body .profile-nav {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.profile-page .profile-body .profile-nav h3 {
  font-weight: 400;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.profile-page .profile-body .user-posts {
  margin-top: unset !important;
  padding: unset !important;
}

.profile-page .listing .cs-1 {
  color: #de0000;
}
.profile-page .listing .cs-2 {
  color: #0046de;
}
.profile-page .listing .cs-3 {
  color: #12bc0c;
}
.profile-page .listing .date-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
}
.profile-page .listing .date-container .status {
  margin-left: auto;
  font-size: 0.8rem;
  font-weight: 400;
}
.profile-page .listing .update-post {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.profile-page .listing .update-post .update-post-button {
  border-radius: 4px;
  padding: 5px 14px;
  font-size: 0.9rem;
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  border: 1px solid var(--button-white-border);
  background-color: var(--button-white);
  display: inline-flex;
  align-items: center;
}
.profile-page .listing .update-post .update-post-button svg {
  margin-left: 5px;
  transition: transform 0.1s ease-in-out;
}
.profile-page .listing .update-post .update-post-button:hover svg {
  transform: translateY(3px);
}
.profile-page .listing .update-post .update-menu.active {
  display: flex;
}
.profile-page .listing .update-post .update-menu {
  display: none;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  top: calc(32px + 0.9rem);
  left: 0;
  right: 0;
  margin: 0 auto;
  flex-direction: column;
  z-index: 1;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
}
.profile-page .listing .update-post .update-menu ul.new-status-list {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-light-border);
  border-radius: 6px;
}
.profile-page .listing .update-post .update-menu ul.new-status-list li {
  padding: 8px 10px;
  font-weight: 300;
  border-bottom: 1px solid var(--primary-light-border);
  white-space: nowrap;
  cursor: pointer;
}
.profile-page .listing .update-post .update-menu ul.new-status-list li:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.profile-page .listing .update-post .update-menu ul.new-status-list li:last-of-type {
  border-bottom: unset;
}

@media (min-width: 340px) {
  .profile-page .listing {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .profile-page .profile-panel {
    padding: 26px 0;
  }
}
@media (min-width: 992px) {
  .profile-page {
    flex-direction: row;
    padding-top: 4vh;
    align-items: flex-start;
  }
  .profile-page .profile-panel {
    padding: 10px 20px 40px;
    min-height: 60vh;
    border-right: 1px solid var(--primary-light-border);
  }
  .profile-page .profile-panel .personal-info-container {
    margin: unset;
    overflow: hidden;
    border-radius: 12px;
    padding: 16px;
    border: 1px solid var(--primary-light-border);
    max-width: 500px;
  }
  .profile-page .profile-panel .personal-info-container .user-name-email .name {
    flex-direction: row;
    max-width: 300px;
    white-space: wrap;
  }
  .profile-page .profile-panel .contact-options.edit-mode ul.contact-information {
    font-size: 1rem;
  }
  .profile-page .profile-panel .contact-options {
    margin: unset;
    border-radius: 12px;
    padding: 16px;
    border: 1px solid var(--primary-light-border);
  }
}
@media (min-width: 1200px) {
  .profile-page .listing {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=profile.css.map */